In [11]:
a=[[]]*3

In [12]:
a

[[], [], []]

In [4]:
a[1]=5

In [13]:
a

[[], [], []]

In [14]:
a[1].append(5)
a

[[5], [5], [5]]

In [1]:
# Create a tuple
my_tuple = (1,'a',3)

In [2]:
print(my_tuple)

(1, 'a', 3)

In [3]:
type(my_tuple)

tuple

In [4]:
# Can also mix object types 
another_tuple = ('one',2, 4.53, 'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [5]:
my_list = [1]

In [6]:
type(my_list)

list

In [7]:
my_tuple = (1,)

In [8]:
type(my_tuple)

tuple

In [9]:
my_tuple=(1,2,3,4)

In [10]:
len(my_tuple)

4

# Tuple Indexing
1. Indexing work just like in lists
2. A tuple index refers to the location of a element in a topic
3. Remember the indexing begins from index 0
4. The first element is assigned to 0 and the second element is assigned to 1 and so on goes the count

In [11]:
another_tuple=('one', 2, 4.53, 'asbc')
another_tuple[0]

'one'

In [12]:
another_tuple[3]

'asbc'

In [13]:
another_tuple[-1]

'asbc'

In [15]:
another_tuple[-3]

2

# Tuple Slicing
1. We can use a : to perform slicing which grabs everything up to a designated point
2. The starting index is specified on the left bar of : and ending point is specified on right side of the : 
3. Remember the element in the right side is not included

In [16]:
# Print our list
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [17]:
another_tuple[1:3]

(2, 4.53)

In [18]:
another_tuple[:6]

('one', 2, 4.53, 'asbc')

In [20]:
another_tuple

('one', 2, 4.53, 'asbc')

In [21]:
another_tuple[-4:]

('one', 2, 4.53, 'asbc')

In [22]:
another_tuple[5]

IndexError: tuple index out of range

In [23]:
len(another_tuple)

4

In [24]:
sorted(another_tuple)

TypeError: '<' not supported between instances of 'int' and 'str'

# Tuples methods

In [34]:
my_tuple=(4,8,9,7,7,8,5,9,51,2,3,6,5,4,7,8,9,6,2)

In [36]:
my_tuple.index(7)
# index() function is used to find the index of the value provided as an argument

3

In [38]:
my_tuple.count(7)
# The count() method is used to find the number of occurence of the value provided

3

In [39]:
print(my_tuple)

(4, 8, 9, 7, 7, 8, 5, 9, 51, 2, 3, 6, 5, 4, 7, 8, 9, 6, 2)

In [40]:
my_tuple[0]

4

In [42]:
my_tuple[0]="45"
# This is proof for that the tuple is  immutable

TypeError: 'tuple' object does not support item assignment

Because of the immutability we cant add anything into the tuple because its not growable
tuple does not support methods like append remove pop extend

In [43]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [47]:
city_rivers=list(zip(city_list,river_list))
city_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

# Sets
1. Sets are unordered collections of unique elements

In [48]:
s={}
type(s)

dict

In [49]:
my_set=set()
type(my_set)

set

In [66]:
my_list=[1,1,2,3,4,2,1,3,4,5,2,4,2,1,4,2,1,8,7,9,5]
my_set=set(my_list)
my_set

{1, 2, 3, 4, 5, 7, 8, 9}

In [67]:
my_set = {1, 2, (3, 4)}
my_set
# Inside set a immutable data type i.e a tuple can be added

{(3, 4), 1, 2}

In [68]:
my_set = {1, 2, {3, 4}}
print(my_set)
my_set1 = {1, 2, [3, 4]}
print(my_set1)

# Inside a set a mutable data type such as dict and list cannot be added

TypeError: unhashable type: 'set'

In [69]:
my_set.add(5)
my_set
# .add() method is used to add a single element

{(3, 4), 1, 2, 5}

In [70]:
my_set.update([15,16,18])
my_set

{(3, 4), 1, 15, 16, 18, 2, 5}

In [71]:
my_set.update((25,23,21))
my_set

{(3, 4), 1, 15, 16, 18, 2, 21, 23, 25, 5}

In [72]:
# The update function will take both list and tuple as an argument
#  And .update method is used to add multiple items to existing set

In [73]:
print(my_set)
my_set.remove(25)
print(my_set)
# .remove method needs a mandatory argument in it 
#  .remove method need value to be entered which has to be deleted from the set

{1, 2, 5, (3, 4), 15, 16, 18, 21, 23, 25}
{1, 2, 5, (3, 4), 15, 16, 18, 21, 23}

In [75]:
s1={10,20,30,40}
s2={30,40,50,60}
s1.union(s2)

{10, 20, 30, 40, 50, 60}

In [76]:
s1.intersection(s2)

{30, 40}

In [77]:
s1.symmetric_difference(s2)

{10, 20, 50, 60}

In [78]:
s1.difference(s2)

{10, 20}

# Dictionary

In [79]:
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [81]:
marvel_dict["Place"]

'Asgard'

In [82]:
type(marvel_dict)

dict

In [83]:
marvel_dict["Name"]

'Thor'

In [84]:
marvel_dict["Weapon"]

'Hammer'

In [86]:
marvel_dict["alibies"]

['Ironman', 'Captain America']

In [87]:
type(marvel_dict['abc'])

dict

In [88]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

In [89]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

In [90]:
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

In [91]:
    marvel_dict.get("Place")

'Asgard'

In [92]:
marvel_dict.get("Random")
# .get method is also used to access the values using the key

In [94]:
marvel_dict.get("Random","Values not found")
# .get method have a feature of returning the message we desire to print if the entered key is not found in dict

'Values not found'

In [95]:
marvel_dict

{'Name': 'Thor',
 'Place': 'Asgard',
 'Weapon': 'Hammer',
 1: 2,
 3: 'power',
 'alibies': ['Ironman', 'Captain America'],
 'abc': {1: 2, 4: 5}}

In [96]:
marvel_dict.pop("Name")

'Thor'

In [97]:
print(marvel_dict)
marvel_dict.popitem()

{'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

('abc', {1: 2, 4: 5})

In [98]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60,80]

In [100]:
mapped=zip(name,marks)

In [101]:
mapped

In [102]:
dict(mapped)

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [103]:
a={"a":12,(1,2):45}
a

{'a': 12, (1, 2): 45}

In [105]:
a[(1.,2)]
# tuple can be made as a key of dictionary

45

# Understanding difference between statements and expressions

1. A statement is an instruction that python intrepreter can execute, We only have seen assignment statement so far 
2. Expressions need to be evaluated

Instructions that a python intrepreter can execute is called statements

In [106]:
# extending assignment in multiple lines
s="dfdfsfdaf \
dfadfdfsdf \
dsfsdf"
s

'dfdfsfdaf dfadfdfsdf dsfsdf'

In [110]:
a=[1,2,3],(5,7),{1,2,3},9

In [111]:
type(a)

tuple

In [112]:
a

([1, 2, 3], (5, 7), {1, 2, 3}, 9)

In [117]:
s={1,2,3,(1,2)}

In [118]:
s

{(1, 2), 1, 2, 3}

In [119]:
s={1,2,3,[1,2]}

TypeError: unhashable type: 'list'

In [120]:
s={1,2,3,{1,2}}

TypeError: unhashable type: 'set'

In [127]:
if None:
    print("Hey this is Milan")
else:
    print("Boom")

Boom

In [128]:
z=set("abc")
z

{'a', 'b', 'c'}