In [35]:
pip install pandas

Requirement already satisfied: pandas in c:\users\melon\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\melon\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\melon\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\melon\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\melon\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

# Loading data from Pandas

In [37]:
import pandas as  pd
df=pd.read_csv("./Datasets/Pokemon.csv")
df1=pd.read_excel("./Datasets/pokemon_data.xlsx")
df2=pd.read_csv("./Datasets/pokemon_data.txt",delimiter="\t" )
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [18]:
df2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
df1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [6]:
df.head(12)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

In [8]:
df.tail()
# Even things like df.tail(1) or df.tial(16) works well

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [20]:
df.columns[1:]

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [23]:
print(df["Name"][0:15])

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
11                    Blastoise
12      BlastoiseMega Blastoise
13                     Caterpie
14                      Metapod
Name: Name, dtype: object

In [25]:
df.Name[:20]

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
11                    Blastoise
12      BlastoiseMega Blastoise
13                     Caterpie
14                      Metapod
15                   Butterfree
16                       Weedle
17                       Kakuna
18                     Beedrill
19        BeedrillMega Beedrill
Name: Name, dtype: object

In [29]:
df[["Name","Type 1"]]

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [31]:
df.columns[1:]

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [34]:
df.iloc[:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [38]:
# for index,row in df.iterrows():
#     print(index,row[["Name","Type 1"]])

In [10]:
df.loc[df["Type 1"]== "Grass"]
# Use Fire or grass

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [41]:
df.loc[(df["Type 1"]=="Grass") | (df["Type 2"]== "Poison")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [38]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
df.sort_values(["Name","Total"],ascending=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

# Making changes to the data

In [13]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [23]:
df["Total"]=df["HP"]+df["Attack"]+df["Defense"]

In [16]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,143,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,185,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,245,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,303,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,134,39,52,43,60,50,65,1,False

In [20]:
df["Total"]=df.iloc[:,4:9].sum()

In [21]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,NaN,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,NaN,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,NaN,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,NaN,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,NaN,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,NaN,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,NaN,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,NaN,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,NaN,80,110,120,130,90,70,6,True

In [24]:
cols=list(df.columns.values)

In [25]:
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

# Saving our data

In [30]:
df2.to_csv("Modified1.csv",index=False)

In [29]:
df2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Series Object in Pandas

In [44]:
import pandas as pd
data=[1,2,3,4]
print(type(data))
series1=pd.Series(data)
print(series1,type(series1))

<class 'list'>
0    1
1    2
2    3
3    4
dtype: int64 <class 'pandas.core.series.Series'>

In [45]:
series1=pd.Series(data,index=["b","a","c","d"])
print(series1,type(series1))

b    1
a    2
c    3
d    4
dtype: int64 <class 'pandas.core.series.Series'>

# How to create a data frame

In [46]:
import pandas as pd

In [47]:
data=[1,2,3,4,5]
df=pd.DataFrame(data)

In [48]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [54]:
#  Creating a data frame using a dictionary
diction={"fruits":["apples","mangoes","bananas"],"count":[10,20,45]}
diction
df=pd.DataFrame(diction)



df

    fruits  count
0   apples     10
1  mangoes     20
2  bananas     45

In [56]:
df.fruits

0     apples
1    mangoes
2    bananas
Name: fruits, dtype: object

# How to perform merge operation

In [68]:
import pandas as pd
player=["player1","player2","Player3"]
point=[8,9,6]
title=["Game","Game1","Game3"]
df1=pd.DataFrame({"players":player,"points":point,"title":title})
df1

   players  points  title
0  player1       8   Game
1  player2       9  Game1
2  Player3       6  Game3

In [72]:

player=["player1","player5","player7"]
power=["Punch","Kick","Elbow"]
title=["Game1","Game5","Game6"]
df2=pd.DataFrame({"players":player,"power":power,"title":title})
df2

   players  power  title
0  player1  Punch  Game1
1  player5   Kick  Game5
2  player7  Elbow  Game6

In [73]:
# Inner merge
df1.merge(df2,on="title",how="inner")

  players_x  points  title players_y  power
0   player2       9  Game1   player1  Punch

In [75]:
df1.merge(df2,on="players",how="inner")

   players  points title_x  power title_y
0  player1       8    Game  Punch   Game1

In [78]:
# Left merge
df1.merge(df2,on="players",how="left")

   players  points title_x  power title_y
0  player1       8    Game  Punch   Game1
1  player2       9   Game1    NaN     NaN
2  Player3       6   Game3    NaN     NaN

In [79]:
# right merge
df1.merge(df2,on="players",how="right")

   players  points title_x  power title_y
0  player1     8.0    Game  Punch   Game1
1  player5     NaN     NaN   Kick   Game5
2  player7     NaN     NaN  Elbow   Game6

In [80]:
# Outer merge
df1.merge(df2,on="players",how="outer")

   players  points title_x  power title_y
0  player1     8.0    Game  Punch   Game1
1  player2     9.0   Game1    NaN     NaN
2  Player3     6.0   Game3    NaN     NaN
3  player5     NaN     NaN   Kick   Game5
4  player7     NaN     NaN  Elbow   Game6

## In merge the two data frame must have same column in common or else we wont be able to merge
## But in case of join there is the two data frame must have a complete different columns

# How to perform join operation in Pandas

In [111]:
player=["player1","player2","Player3"]
point=[8,9,6]
title=["Game","Game1","Game3"]
df3=pd.DataFrame({"players":player,"points":point,"title":title},index=["L1","L2","L3"])
df3

    players  points  title
L1  player1       8   Game
L2  player2       9  Game1
L3  Player3       6  Game3

In [112]:
player=["Player1","player2",'player3']
power=["kick","Punch","Elbow"]
game=['Game','Game1','Game2']
df4=pd.DataFrame({"Player":player,"power":power,"games":game},index=["L2","L3","L4"])
df4

     Player  power  games
L2  Player1   kick   Game
L3  player2  Punch  Game1
L4  player3  Elbow  Game2

In [106]:
df3.join(df4,how="inner")

    players  points  title   Player  power  games
L2  player2       9  Game1  Player1   kick   Game
L3  Player3       6  Game3  player2  Punch  Game1

In [107]:
df3.join(df4,how="left")

    players  points  title   Player  power  games
L1  player1       8   Game      NaN    NaN    NaN
L2  player2       9  Game1  Player1   kick   Game
L3  Player3       6  Game3  player2  Punch  Game1

In [108]:
df3.join(df4,how="right")

    players  points  title   Player  power  games
L2  player2     9.0  Game1  Player1   kick   Game
L3  Player3     6.0  Game3  player2  Punch  Game1
L4      NaN     NaN    NaN  player3  Elbow  Game2

In [109]:
df3.join(df4,how="outer")

    players  points  title   Player  power  games
L1  player1     8.0   Game      NaN    NaN    NaN
L2  player2     9.0  Game1  Player1   kick   Game
L3  Player3     6.0  Game3  player2  Punch  Game1
L4      NaN     NaN    NaN  player3  Elbow  Game2

# How to concatenate two data frames in pandas

In [115]:
pd.concat([df3,df4]).shape

(6, 6)

In [116]:
pd.concat([df3,df4])

    players  points  title   Player  power  games
L1  player1     8.0   Game      NaN    NaN    NaN
L2  player2     9.0  Game1      NaN    NaN    NaN
L3  Player3     6.0  Game3      NaN    NaN    NaN
L2      NaN     NaN    NaN  Player1   kick   Game
L3      NaN     NaN    NaN  player2  Punch  Game1
L4      NaN     NaN    NaN  player3  Elbow  Game2

In [117]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, L1 to L3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   players  3 non-null      object
 1   points   3 non-null      int64
 2   title    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [120]:
df3.mean()

points    7.666667
dtype: float64

In [122]:
import pandas as  pd
df=pd.read_csv("./Datasets/Pokemon.csv")
df1=pd.read_excel("./Datasets/pokemon_data.xlsx")
df2=pd.read_csv("./Datasets/pokemon_data.txt",delimiter="\t" )
df.abshead(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [126]:
df.iloc[:,4:].head()

   Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0    318  45      49       49       65       65     45           1      False
1    405  60      62       63       80       80     60           1      False
2    525  80      82       83      100      100     80           1      False
3    625  80     100      123      122      120     80           1      False
4    309  39      52       43       60       50     65           1      False

In [129]:
df.loc[0:4,"Name":'Defense']

                    Name Type 1  Type 2  Total  HP  Attack  Defense
0              Bulbasaur  Grass  Poison    318  45      49       49
1                Ivysaur  Grass  Poison    405  60      62       63
2               Venusaur  Grass  Poison    525  80      82       83
3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4             Charmander   Fire     NaN    309  39      52       43

# Filtering Data

In [139]:
df.loc[(df["Type 1"]=="Grass") & (df["Type 2"]=="Poison") & (df["HP"]>70)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [144]:
# THis returns the list of names which contains "Mega"
# In the .contains method you can pass the regex expressions
df.loc[df["Name"].str.contains("Mega")].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [145]:
# This list contains the row which names does not contain "Mega"
df.loc[~df["Name"].str.contains("Mega")].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [151]:
import re
df.loc[df["Type 1"].str.contains('fire|grass',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

 # Conditional changes

In [153]:
df.loc[df["Type 1"]=="Fire","Type 2"]="Milan"

In [155]:
df.loc[df["Type 2"]=="Milan"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,Milan,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,Milan,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Milan,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Milan,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Milan,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,Milan,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,Milan,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,Milan,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,Milan,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,Milan,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,Milan,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,Milan,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,Milan,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Milan,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,Milan,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,Milan,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,Milan,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,Milan,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Milan,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,Milan,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,Milan,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Milan,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,Milan,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Milan,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Milan,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Milan,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Milan,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Milan,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Milan,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,Milan,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,Milan,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Milan,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Milan,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,Milan,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Milan,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,Milan,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Milan,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Milan,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,Milan,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,Milan,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,Milan,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,Milan,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Milan,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,Milan,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,Milan,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,Milan,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Milan,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Milan,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Milan,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Milan,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Milan,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Milan,600,80,110,120,130,90,70,6,True

In [156]:
df.loc[df.Total > 500 ,["Generation","Legendary"]]=["Milan","Gowda"]

In [157]:
df.loc[(df.Generation=="Milan") & (df.Legendary == "Gowda")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Milan,Gowda
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Milan,Gowda
6,6,Charizard,Fire,Milan,534,78,84,78,109,85,100,Milan,Gowda
7,6,CharizardMega Charizard X,Fire,Milan,634,78,130,111,130,85,100,Milan,Gowda
8,6,CharizardMega Charizard Y,Fire,Milan,634,78,104,78,159,115,100,Milan,Gowda
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Milan,Gowda
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Milan,Gowda
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Milan,Gowda
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Milan,Gowda
799,721,Volcanion,Fire,Milan,600,80,110,120,130,90,70,Milan,Gowda

In [163]:
df.groupby(["Type 1"]).mean().sort_values("Attack",ascending=False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235

In [167]:
df.groupby(["Type 1","Type 2"]).count()["#"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: #, Length: 128, dtype: int64

# How to deal with large amount of data

In [168]:
# chunk size an argument in read csv