# Identifiers

## A name in python program is called identifiers 
## It can be the name of the class method function or variables or module name

In [1]:
a=10

Rules to define identifiers in Python:

 0-9 a-z A-Z and _ are only allowed in python to use as identifiers

In [3]:
cash=10
cas&g=10 #In this line we get error because we used $ symbol which is not be used as identifiers

SyntaxError: cannot assign to operator (<ipython-input-3-5f78960999c4>, line 2)

Rule 2 we cant use numbers at the starting of the identifier
23name="Milan" this is not allowed because there is a number at starting

In [1]:
s="durga"
s[0]

'd'

In [2]:
s[1]

'u'

In [3]:
s[-1]

'a'

In [4]:
s[40] # your getting error because the index is out of range

IndexError: string index out of range

In [5]:
s[1:40] # how much ever number you give it only prints upto the end

'urga'

In [6]:
s*3

'durgadurgadurga'

In [7]:
c='s'
type(c)
#In python there is nothing like char data type like in java it taken as string

str

In [8]:
#Long data type was available in 2.0 BUt in 3.0 Int is taking care of it

# Type casting

We can convert any other type into any data type
functions used for type casting

int()
float()
str()
complex()
bool()

In [9]:
int(12.34)

12

In [10]:
int(True)

1

In [11]:
int(False)

0

In [12]:
int("10")

10

In [13]:
int("10.5") # You need to enter only Numbers instead of float

ValueError: invalid literal for int() with base 10: '10.5'

In [14]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [15]:
float(10)

10.0

In [16]:
float(10+5j)
#Cant convert complex into float or int

TypeError: can't convert complex to float

In [17]:
float(True)

1.0

In [18]:
float(False)

0.0

# Complex

Its  possible to type cast from int and float to complex number But not possible to convert a complex number to int or flaot

In [19]:
complex(10)

(10+0j)

In [27]:
complex(10.5)

(10.5+0j)

In [28]:
complex(True)

(1+0j)

In [29]:
complex(False)

0j

In [30]:
complex("10")

(10+0j)

In [31]:
complex("10.5")

(10.5+0j)

In [32]:
complex("ten")

ValueError: complex() arg is a malformed string

In [33]:
complex(10,-2)

(10-2j)

In [35]:
complex(True,False)

(1+0j)

# Boolean

In [20]:
bool(0)

False

In [21]:
bool(1)

True

In [22]:
bool(10)

True

In [23]:
bool(10.5)

True

In [24]:
bool(.015)

True

In [25]:
bool(0.0)

False

In [26]:
bool(4+0j)

True

In [27]:
bool(0+5j)

True

In [28]:
bool("True")

True

In [29]:
bool("False")

True

In [30]:
bool("")

False

# String type casting

In [31]:
str(10)

'10'

In [32]:
str(10.5)

'10.5'

In [33]:
str(10+ 8j)

'(10+8j)'

In [34]:
str(True)

'True'

# Fundamental data types vs Immutability

 All Fundamental Data types are immutable. i.e once we creates an object,we cannot
perform any changes in that object. If we are trying to change then with those changes a
new object will be created. This non-chageable behaviour is called immutability

In [35]:
a=10
b=10
print(id(a))
print(id(b))
# Both have same content so we are accessing that content from same address
a is b

140716882077776
140716882077776

True

In [36]:
a=10+5j
b=10+5j
print(a is b)
print(id(a))
print(id(b))

False
1783969921616
1783969921264

In [37]:
a=True
b=True
print(id(a),id(b),a is b)

140716881794896 140716881794896 True

In [38]:
a="Milan"
b="Milan"
print(id(a),id(b),a is b)

1783969151792 1783969151792 True

# Byte data type

In [40]:
x=[10,20,30,40]
b=bytes(x)
print(type(b))
print(b[0])
print(b[1])
for i in b : print(i)
# the only limit is upto  0 to 256 
# if your taking number more then that you will get a value error

<class 'bytes'>
10
20
10
20
30
40

In [65]:
x=[10,20,30]
b=bytes(x)
b[0]=100
# IN the above line we are trying to change the value of the 0th index
# But byte is mutable so we cant change

TypeError: 'bytes' object does not support item assignment

# BytesArray data type

In [41]:
x=[10,20,30,40]
b=bytearray(x)
for i in b : print(i)
print(type(b))
print(b[0])
b[0]=5
print(b[0])
# Hence there is no differences between byte and byte array
# But only difference is bytesarray is mutable
# Note Only use numbers in range (0 to 256)

10
20
30
40
<class 'bytearray'>
10
5

# List data type
If we want to represent a group of values in a single entity where insertion order is maintained, duplicates growable in nature are allowed then we should go with list data type
1. insertion order is preserved
2. heterogenous data is allowed 
3. duplicates is allowed
4. growable in nature
5. values must be wrapped in between square brackets

In [42]:
l=[100,1,10.5,'durga',True]
print(l)

[100, 1, 10.5, 'durga', True]

In [43]:
l[0]

100

In [44]:
l[-1]

True

In [45]:
for i in l : print(i)

100
1
10.5
durga
True

In [46]:
li=[10,20,30]
li.append("durga") # attaches an element at the end
print(li)
li.remove(10) # removes the given element
print(li)
print(li*2)
# By this we can conclude the list is ordered mutable,heterogenous,

[10, 20, 30, 'durga']
[20, 30, 'durga']
[20, 30, 'durga', 20, 30, 'durga']

# Tuple data type
tuple data type is same as list it is ordered, allow duplicates, heterogenous 
but it doesn't allow mutable feature they have made it immutable

In [84]:
t=(10,20,30)
print(type(t))
print(t[0])
# t.append("durga")
# in the above line you can append things inside tuple
# t.remove(10)
# Even the remove feature doesnot work
# Note Tuple is the only the read only version of list

<class 'tuple'>
10

# Range data type
Range data type is just the sequence of numbers
The elements present in range is not modifiable that means range is immutable

In [87]:
for i in range(0,9): print(i,end=" ")

0 1 2 3 4 5 6 7 8

In [89]:
r=range(10,19)
for i in r:print(i,end=" ")

10 11 12 13 14 15 16 17 18

In [91]:
r=range(10,20,2)
for i in r:print(i,end=" ")

10 12 14 16 18

In [95]:
# ANd also we can access the data from range data type using index
r=range(10,20)
print(r[0])
# r[0]=5
#  the above line is commented because the range data type is immutable
# print(r[20])
# THe above line is commented because the range doesn't contain index till 20

10

In [96]:
# We can create list from range
r=range(20,25)
li=list(r)
print(type(li),li)

<class 'list'> [20, 21, 22, 23, 24]

# Set data type
If we want to represent group of values using single entity with maintaining insertion order not allowing duplicates then we need to use set data type

1. insertion order not preserved
2. duplicates not allowed
3. heterogenous data allowed
4. index concept is not there (not slicing also)
5. It is mutable
6. Growable in nature

In [101]:
s={100,10,56,'garuda'}
# s[0]
#  Commenting the above line because indexing in not valid and also slicing
s.add(90)
s.
print(s)
s.remove(100)
print(s)

{100, 10, 56, 90, 'garuda'}
{10, 56, 90, 'garuda'}

# Frozen data
 Its exactly same as sets except it is immutable
 We cant add or remove things means you dont have add or remove functions

In [103]:
s={10,20,30}
fs= frozenset(s)
print(type(fs))
# fs.add(4)
# fs.remove(10)
# We dont have add function or remove function in frozenset data type
for i in fs: print(i)

<class 'frozenset'>
10
20
30

# Dict data type
If we want to represent a group of the values as key value pairs then we should go for dict data type

In [107]:
d={1:"milan",2:"GOwfa","salary":451}
print(d)
#adding values
d["age"]=26
print(d)
#If we want to remove eveything in data we use the below code
d={}
print(d)

{1: 'milan', 2: 'GOwfa', 'salary': 451}
{1: 'milan', 2: 'GOwfa', 'salary': 451, 'age': 26}
{}

# Escape characters

1. \n takes cursor to next line
2. \t leaves one tab space 
3. \r Carriage return
4. \b back space
5. \f form feed
6. \v vertical tab
7. \' Single quote
8. \" Double quote
9. \\ back slash symbol

# Constants
Where as in java we had final and java script we had cons
But in python we dont have anything like constant
Developers have kept a protocol that writing the variables in capital lettes indicates that the 
variable should not be changed

In [108]:
#  Constants are denoted as shown below
MAX_VALUE=30

# Operators
Operator is a symbol that performs certain operations

Python provides the following set of operators
1. Arithmetic Operators
2. Relational Operators or Comparision operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Special Operaters

In [113]:
print(10<20)
print(10<20<30)
print(10<20<30<40)
print(10<20<30<40>50)
print(10==10)
print(10!=10)
print(False==0)

True
True
True
False
True
False
True

In [114]:
"durga"=="durga"

True

In [117]:
print(True and False)
print(True or False)
print(not False)

False
True
True

In [118]:
print(False==0)

True

In [119]:
1==True

True

In [123]:
''== True

False

In [124]:
10 and 20

20

In [49]:
10 and 1

1

In [128]:
not 10

False

In [129]:
not 0

True

In [130]:
10 or 20

10

In [131]:
10 and 20

20

In [54]:
-10 or 30

-10

In [55]:
0 and 8

0

In [56]:
4 and 5

5

# Bit wise Operators
We can apply these operators bit wise
These operators are applicable only for int and boolean types
          & | ^ ~ << >>

In [57]:
4 & 5

4

In [76]:
2 & 6

2

In [79]:
8 | 5

13

# Ternary Operator

In [158]:
a,b=50,50
x= 30 if a < b else 40 if a > b else "None"
x

'None'

In [162]:
# Eg 2: Read two numbers from the keyboard and print minimum value
a = int(input("ENter first Number"))
b = int(input("ENter second Number"))
min =a if a < b else b
print(min, "Is the smallest number")

ENter first Number56
ENter second Number58
56 Is the smallest number

In [169]:
# Q. Program for minimum of 3 numbers
a = int(input("ENter first Number"))
b = int(input("ENter second Number"))
c = int(input("ENter third Number"))
min=a if a<b<c else b if b<c else c
print(min,"Is the smalled number of three numbers")

ENter first Number9
ENter second Number6
ENter third Number3
3 Is the smalled number of three numbers

In [173]:
# Q. Program for maximum of 3 numbers

a = int(input("ENter first Number"))
b = int(input("ENter second Number"))
c = int(input("ENter third Number"))
max=a if a>b>c else b if b>c else c
print(max,"is the Biggest number of three")

ENter first Number5
ENter second Number63
ENter third Number2
63 is the Biggest number of three

# Specail Operators
1. Identity Operators
2. Membership operators

We can use identity operators for address comparison.
2 identity operators are available
1. is
2. is not

In [178]:
a=10
b=10
print(a is b )
c=11
d=260
e=260
b1=256
b2=256
print(c is a)
print(d is e)
print(b1 is b2)

True
False
False
True

In [181]:
li1=["one","two","three"]
li2=["one","two","three"]
print(id(li1))
print(id(li2))
print(li1 is li2)
print(li1 is not li2)
print(li1 == li2)

2350406037696
2350403487424
False
True
True

# Membership operator
We can use Membership operators to check whether the given object present in the
given collection.(It may be String,List,Set,Tuple or Dict)

in  Returns True if the given object present in the specified Collection

not in  Retruns True if the given object not present in the specified Collection

In [183]:
x="Hello this is Milan Talking"
print("H" in x)
print("B" in x)
print("B"  not in x)
print("H" not in x)

True
False
True
False

# Precedence

 The following list describes operator precedence in Python
 
1. ()  Parenthesis
2. **  exponential operator
3. ~,-  Bitwise complement operator,unary minus operator
4. *,/,%,//  multiplication,division,modulo,floor division
5. +,-  addition,subtraction
6. <<,>>  Left and Right Shift
7. &  bitwise And
8. ^  Bitwise X-OR
9. |  Bitwise OR
10. >,>=,<,<=, ==, != ==>Relational or Comparison operators
11. =,+=,-=,*=... ==>Assignment operators
12. is , is not  Identity Operators
13. in , not in  Membership operators
14. not  Logical not
15. and  Logical and
16. or  Logical or

# INPUTS AND OUTPUTS

In [185]:
    a,b=[ int(x) for x in input("Enter the ").split()]
    print(a,b)

Enter the 5 6
5 6

In [190]:
a,b,c=[float(x) for x in input("ENter the").split(",")]
print(a,b,c)

ENter the5.3,6.9,5.9
5.3 6.9 5.9

In [192]:
x=eval(input("ENter float"))
print(x, type(x))

ENter float5.6
5.6 <class 'float'>

In [193]:
x=eval(input("ENter Integer"))
print(x, type(x))

ENter Integer56
56 <class 'int'>

In [194]:
x=eval(input("ENter Complex"))
print(x, type(x))

ENter Complex12+5j
(12+5j) <class 'complex'>

In [197]:
x=eval(input("ENter list"))
print(x, type(x))

ENter list[10 , 30.5,"durga"]
[10, 30.5, 'durga'] <class 'list'>

In [203]:
x=eval(input("ENter tuple"))
print(x, type(x))

ENter tuple2,3,"Milan"
(2, 3, 'Milan') <class 'tuple'>

# Command line arguments

In [204]:
from sys import argv
argv[1]=10
print(argv)

[10, 10, 'C:\\Users\\Melon\\AppData\\Roaming\\jupyter\\runtime\\kernel-e97618ed-bf24-4092-a5c7-296b1898549f.json']

# Output statements

In [205]:
print("Hello")

Hello

In [207]:
print("Hello \n World")

Hello
 World

In [208]:
print("Hello \t World")

Hello 	 World

In [209]:
a,b,c=45,65,98
print(a,b,c,sep=":")

45:65:98

In [211]:
print("Hello")
print("Durga")
print("Soft") 
print("Hello",end=' ')
print("Durga",end=' ')
print("Soft")

Hello
Durga
Soft
Hello Durga Soft

In [219]:
s="DUrga"
n=45
weight=88.5
s1="java"
print("Hello",s)

Hello DUrga

In [226]:
print("Hey my nam is %s"%s)
print("Hey my nam is %s and age is %i"%(s,n))
print("Hey my nam is %s and age is %i and weight is %f"%(s,n,weight))
print("Hey my name is {0} age is {1} and weight is {2}".format(s,n,weight))
print("Hey my name is {} age is {} and weight is {}".format(s,n,weight))
print("Hey my name is {name} age is {age} and weight is {weight}".format(name=s,age=n,weight=weight))

Hey my nam is DUrga
Hey my nam is DUrga and age is 45
Hey my nam is DUrga and age is 45 and weight is 88.500000
Hey my name is DUrga age is 45 and weight is 88.5
Hey my name is DUrga age is 45 and weight is 88.5
Hey my name is DUrga age is 45 and weight is 88.5

# Flow Control
1. Conditional Statements

   1.1 if
   
   1.2 if- else
   
   1.3 if- elif-else

2. Transfer Statements

   2.1 break
   
   2.2 continue
   
   2.3 pass

3. Iterative Statements

   3.1 for
   
   3.2 while

# If Statement

In [227]:
name="durga"
if name == "durga":
    print("Hello durga good morning")
print("How are you")

Hello durga good morning
How are you

# String

In [231]:
s= "durga"
i=0
for x in s:
    print("the word",x,"have positive index",i,"and negative index of",i-len(s))
    i+=1

the word d have positive index 0 and negative index of -5
the word u have positive index 1 and negative index of -4
the word r have positive index 2 and negative index of -3
the word g have positive index 3 and negative index of -2
the word a have positive index 4 and negative index of -1

In [233]:
s="Learning python is very easy"
s[1:7]

'earnin'

In [237]:
s[-1:0:-1]

'ysae yrev si nohtyp gninrae'

In [239]:
s[-2:4:-4]

'sy nyn'

In [240]:
s[3:]

'rning python is very easy'

In [241]:
s[:10]

'Learning p'

In [243]:
# Mathematical operation used with String that is 
# + for concetanation
# * for repitation
print("durga "+"soft")
print("durga "*3)

durga soft
durga durga durga

In [254]:
s="Learning python is very easy"
n=len(s)
i=0
j=0
while i<n:
    print(s[i],end='')
    i+=1    
print()
while j<n:
    print(s[n-j-1],end='')
    j+=1

Learning python is very easy
ysae yrev si nohtyp gninraeL

# Finding Substrings:
We can use the following 4 methods

For forward direction:

find()

index()

For backward direction:

rfind()

rindex()

In [258]:
s="Learning python is very easy"
s.find("eas")

24

In [259]:
s.find("pyt")

9

In [261]:
s.rfind("e")

24

In [262]:
s.find("e")

1

In [264]:
s.index("r")

3

In [265]:
s.rindex("r")

21

# #List Data Structure
1. Insertion Order preserved
2. Duplicates allowed
3. Heterogenous data allowed
4. Growable in nature

In [6]:
# Creation of List
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [7]:
li=[10,20,30,"durga","Milan"]
print(li)
print(type(li))

[10, 20, 30, 'durga', 'Milan']
<class 'list'>

In [11]:
l=list(range(0,10,2))
print(l)
print(type(l))

[0, 2, 4, 6, 8]
<class 'list'>

In [14]:
s="Learning Python is very easy"
l=s.split()
print(l)
print(type(l))

['Learning', 'Python', 'is', 'very', 'easy']
<class 'list'>

In [18]:
# Accessing elements of List
li=[10,20,30,40]
print(li[0])
print(li[1])
print(li[-1])
print(li[-2])

10
20
40
30

In [21]:
li1=li[:]
print(li1)

[10, 20, 30, 40]

In [23]:
li1=list(range(1,20))
print(li1)
print(li1[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
li1=[1,2,2,6,5,3,1,1,3,3,1,1,2,2,9]
print(li1.count(1))
print(li1.count(2))
print(li1.count(3))

5
4
3

In [27]:
li1=[1,2,2,6,5,3,1,1,3,3,1,1,2,2,9]
print(li1.index(1))
print(li1.index(5))

0
4

In [28]:
2 in li1

True

In [29]:
6 in li1

True

In [30]:
56 in li1

False

In [32]:
li1=[10,20,30]
li1.append(10)
print(li1)

[10, 20, 30, 10]

In [34]:
li1=[]
for i in range(101):
    if(i%10==0):
        li1.append(i)
print(li1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [39]:
n=[]
n.insert(1,2)
print(n)
n.insert(1,140)
print(n)
n.insert(0,40)
print(n)

[2]
[2, 140]
[40, 2, 140]

In [40]:
li1=[1,2,5]
li2=[9,8,7]
print(li1,li2)
li1.extend(li2)
print(li1)

[1, 2, 5] [9, 8, 7]
[1, 2, 5, 9, 8, 7]

In [41]:
li1=["Durga",'Milan',"Harsh"]
li2=["dog",'cat',"bekku"]
li1.extend(li2)
print(li1)

['Durga', 'Milan', 'Harsh', 'dog', 'cat', 'bekku']

In [42]:
li1=["kanaka","Menaka","Deepika"]
li1.extend("beversi")
print(li1)

['kanaka', 'Menaka', 'Deepika', 'b', 'e', 'v', 'e', 'r', 's', 'i']

In [43]:
# remove function
li1=[1,2,3,6,5,4]
li1.remove(3)
print(li1)

[1, 2, 6, 5, 4]

In [47]:
n=[10,20,30,40]
print(n.pop())
print(n)
print(n.pop(0))
print(n)
# THe pop function takes index as argument

40
[10, 20, 30]
10
[20, 30]

In [49]:
li1=[1,2,3,6,5,4]
print(li1)
li1.reverse()
print(li1)

[1, 2, 3, 6, 5, 4]
[4, 5, 6, 3, 2, 1]

In [50]:
li1=[1,2,3,6,5,4]
print(li1)
li1.sort()
print(li1)

[1, 2, 3, 6, 5, 4]
[1, 2, 3, 4, 5, 6]

In [51]:
li1=[10,20,"a","B"]
li1.sort()
# sort function is not applicable for only integers

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
li1=[1,2,3,6,5,4]
print(li1)
li1.sort(reverse=True)
print(li1)

[1, 2, 3, 6, 5, 4]
[6, 5, 4, 3, 2, 1]

In [60]:
x=[1,2,3,4]
y=x
print(id(x),id(y))
y[1]=777
print(x)
print(x is y)
# In this above code there is a problem
# we changed the value of y but x is affected
# To solve this we use copy function 
#  Or by using slice operator

3113011716672 3113011716672
[1, 777, 3, 4]
True

In [64]:
x=[1,2,3,4]
y=x[:]
print(y is x , y ,x)
# EIther you can use slice operator 
y=[1,777]
print(y is x , y ,x)

False [1, 2, 3, 4] [1, 2, 3, 4]
False [1, 777] [1, 2, 3, 4]

In [66]:
# BY using copy function
x=[10,20,30]
y=x.copy()
y[1]=7
print(x is y , x ,y)

False [10, 20, 30] [10, 7, 30]

In [69]:
# Concetanation in list
# We can use * and + operator to Concetanation and list repitation
a=[10,20,30]
b=[40,50,60]
c=a+b
d=a*3
e=a+[40]
print(c)
print(d)
print(e)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30, 40]

In [70]:
# We have another feature called clear function which clears all the elements
a=[1,2,3,5,4,6,77]
print(a)
a.clear()
print(a)

[1, 2, 3, 5, 4, 6, 77]
[]

In [74]:
# Nested list
n=[10,20,[50,90]]
print(n[2][1])
n[2][1]=8
print(n)

90
[10, 20, [50, 8]]

In [75]:
n=[[1,2,3],[4,5,6],[7,8,9]]
for i in n:
    for j in i:
        print(j,end=" ")
    print("")

1 2 3
4 5 6
7 8 9

In [77]:
# List Comprehension
s=[x*x for x in range(1,10) ]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
s=[2* x for x in range(1,21) if x %2==0 ]

In [79]:
v=[2*x for x in range(1,20) if x%2==0]
print(v)

[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [100]:
# set
s={1,2,5}
s.add(3) # Adds just one element
print(s)
s.update([10,56,46],range(5))
print(s)
s1=s.copy() # copies the set into another separate object
s2=s
print(s1,s1 is s,s2 is s)
s1.pop()
print(s1)
print(s1.pop())# Pops the element out
print(s1)
s1.remove(46)
# The above line remove function removes the given element out of set but if you give element which is not present it will give you an error
print(s1)
s1.discard(56)
print(s1)
s1.discard(56)
# Once the 56 element is deleted again it will not be there But in this case while using the discard function we wont get the value error
print(s1)
# the clear function just removes all the elements from the set and it just gives an empty set
s1.clear()
print(s1)

{1, 2, 3, 5}
{0, 1, 2, 3, 4, 5, 10, 46, 56}
{0, 1, 2, 3, 4, 5, 10, 46, 56} False True
{1, 2, 3, 4, 5, 10, 46, 56}
1
{2, 3, 4, 5, 10, 46, 56}
{2, 3, 4, 5, 10, 56}
{2, 3, 4, 5, 10}
{2, 3, 4, 5, 10}
set()

In [107]:
# Union concept
s1={10,20,30,40}
s2={30,40,50,60}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{10, 50, 20, 60}

In [108]:
# SET comprehension is possible But set indexing and slicing is not possible

In [1]:
a=(10)
type(a)

int

In [3]:
a=(90,)
type(a)

tuple

In [12]:
a=[10,20,30,40]
print(a[1:10])
print(a[-10:10])
print(a[::-1])
a[6]

[20, 30, 40]
[10, 20, 30, 40]
[40, 30, 20, 10]

IndexError: list index out of range

In [13]:
a=(10,20,30,40)
print(a[1:10])
print(a[-10:10])
print(a[::-1])
print(a[6])

(20, 30, 40)
(10, 20, 30, 40)
(40, 30, 20, 10)

IndexError: tuple index out of range

In [4]:
random_tuple=(1,6,5,8,4,3,9)
tuplee=sorted(random_tuple)
tuplee # This will return a list if you want tuple type cast it again
tuplee=tuple(tuplee)
print(tuplee)

(1, 3, 4, 5, 6, 8, 9)

In [8]:
# Tuples are immutable for example
print(random_tuple[0])
# random_tuple[0]=45
#  you get an error while executing the above line

1

In [10]:
random_tuple=(1,6,5,8,7,8,5,1,3,4,3,9)
random_tuple.index(5)

2

In [20]:
a=tuple(1)

TypeError: 'int' object is not iterable

In [12]:
random_tuple.count(1)

2

# Zip

In [14]:
state=["karnataka","Andhra","Maharashtra","Tamil Nadu"]
capital=["bangalre","hyderabad","Munbai","chennai"]
city_and_there_capitals=list(zip(state,capital))
city_and_there_capitals

[('karnataka', 'bangalre'),
 ('Andhra', 'hyderabad'),
 ('Maharashtra', 'Munbai'),
 ('Tamil Nadu', 'chennai')]

# Sets
1. Sets are unordered collection of unique elements
2. sets cannot have duplicates
3. sets are mutable just like lists
4. You can create an

TypeError: 'int' object is not iterable

In [21]:
# How to create an empty set
empty_set=set()
empty_set

set()

In [26]:
# Non empty set
non_empty_set={4,6,7,9,2,3,11}
non_empty_set

{2, 3, 4, 6, 7, 9, 11}

In [27]:
list1=[1,6,5,8,9,6,32,1,5,5,6,4,6,1,0]
set1=set(list1)
set1

{0, 1, 4, 5, 6, 8, 9, 32}

In [36]:
s1={1,2,(3,5)}
s1

{(3, 5), 1, 2}

In [37]:
s1.add(95)
s1

{(3, 5), 1, 2, 95}

In [38]:
s1.remove(1) # removing elements by value
s1

{(3, 5), 2, 95}

In [41]:
s1.pop() # Removing by index
s1

{95}

In [42]:
s1.update([5,6,9,8,77,12])
s1

{5, 6, 8, 9, 12, 77, 95}

In [53]:
s1={10,20,30,40}
s2={30,40,50,60}
s1.union(s2)

{10, 20, 30, 40, 50, 60}

In [44]:
s1.intersection(s2)

{30, 40}

In [45]:
s1.difference(s2)

{10, 20}

In [47]:
s1.symmetric_difference(s2)

{10, 20, 30, 40, 50, 60}

In [48]:
s1.difference_update(s2)

In [49]:
s1-s2

{10, 20}

In [50]:
s2-s1

{30, 40, 50, 60}

In [54]:
s1.symmetric_difference(s2)

{10, 20, 50, 60}

In [58]:
di1={"name1":"Milan","age":25,"school":"LLES"}
di1.get("name1","User Not found")

'Milan'

In [59]:
len(di1)

3

In [62]:
state=[("karnataka","bangalre"),("Andhra","hyderabad"),("Maharashtra","Munbai"),("Tamil Nadu","Chennai")]
state

[('karnataka', 'bangalre'),
 ('Andhra', 'hyderabad'),
 ('Maharashtra', 'Munbai'),
 ('Tamil Nadu', 'Chennai')]

In [65]:
d1=dict(state)
d1

{'karnataka': 'bangalre',
 'Andhra': 'hyderabad',
 'Maharashtra': 'Munbai',
 'Tamil Nadu': 'Chennai'}

In [66]:
d1.pop("karnataka")
d1

{'Andhra': 'hyderabad', 'Maharashtra': 'Munbai', 'Tamil Nadu': 'Chennai'}

In [68]:
d1.popitem()
d1

{'Andhra': 'hyderabad', 'Maharashtra': 'Munbai'}

In [71]:
# New Immutablity trick about list
li1=[1,2,3,[4,5]]
li2=li1
li1[3][0]=5
li2
li1[2]=6
li2

[1, 2, 6, [5, 5]]

In [73]:
s={1,2,3,4,[1,2,5]}
# A set cannot have mutable items so we cant add things like set dict list only we can store tuple

TypeError: unhashable type: 'list'