# Loops and iteration

In python we have only two loops statements they are :
1.	for loop
2.	while loop
Note : Switch statement is not there in python unlike java and C langauges

# For Loops
For loops acts as iterator in python  the for loop in python is used to iterate through an iterable objects like
List,tuple,set,etc..
# While Loops
While loops are similar to if statements where as it executes on cycles if the conditions are true

In [1]:
#  for item in object:
#     statements to do stuff

The name item is left to the coder to use appropriate names that will make sense and will be able to understand the code while revisiting the code

In [3]:
# Lets try some simple for loop 
got_houses=["stark","Arryn","Barathon","Tuloy","Grayjoy","Travel","Pokemon","Degomon","Doremon","Indian","National","Security"]

In [7]:
for names in got_houses:
    print(f'names are {names}')

names are stark
names are Arryn
names are Barathon
names are Tuloy
names are Grayjoy
names are Travel
names are Pokemon
names are Degomon
names are Doremon
names are Indian
names are National
names are Security

In [8]:
got_houses

['stark',
 'Arryn',
 'Barathon',
 'Tuloy',
 'Grayjoy',
 'Travel',
 'Pokemon',
 'Degomon',
 'Doremon',
 'Indian',
 'National',
 'Security']

In [11]:
# Another way of for loop
for number,names in enumerate(got_houses):
    print(f'The names are {names} and the number are {number}')
# If you need to make use of index also then you need to use the enumerate function to iterate through the list

The names are stark and the number are 0
The names are Arryn and the number are 1
The names are Barathon and the number are 2
The names are Tuloy and the number are 3
The names are Grayjoy and the number are 4
The names are Travel and the number are 5
The names are Pokemon and the number are 6
The names are Degomon and the number are 7
The names are Doremon and the number are 8
The names are Indian and the number are 9
The names are National and the number are 10
The names are Security and the number are 11

In [12]:
x=1,2

In [13]:
x

(1, 2)

In [14]:
list(enumerate(x))

[(0, 1), (1, 2)]

In [17]:
list(enumerate(got_houses))
# Using enumerate function you can join index to the list and store it in the tuple so that it results in lists of tuples contains key and value pair

[(0, 'stark'),
 (1, 'Arryn'),
 (2, 'Barathon'),
 (3, 'Tuloy'),
 (4, 'Grayjoy'),
 (5, 'Travel'),
 (6, 'Pokemon'),
 (7, 'Degomon'),
 (8, 'Doremon'),
 (9, 'Indian'),
 (10, 'National'),
 (11, 'Security')]

In [18]:
dict(list(enumerate(got_houses)))
# Using the enumerate function you can convert the list of tuples containing the key and value pair into dictionary

{0: 'stark',
 1: 'Arryn',
 2: 'Barathon',
 3: 'Tuloy',
 4: 'Grayjoy',
 5: 'Travel',
 6: 'Pokemon',
 7: 'Degomon',
 8: 'Doremon',
 9: 'Indian',
 10: 'National',
 11: 'Security'}

# Example 2 (for Loop)

In [22]:
list_of_numbers=[1,2,3,4,5,6,7,8,9]
list_of_numbers2=[1,2,4,6,11,14,17,20]

In [23]:
# Printing the square of numbers in list using for loop
for number in list_of_numbers2:
    print(f'the square of number {number} is {number ** 2}')

the square of number 1 is 1
the square of number 2 is 4
the square of number 4 is 16
the square of number 6 is 36
the square of number 11 is 121
the square of number 14 is 196
the square of number 17 is 289
the square of number 20 is 400

In [24]:
#  Suppose you dont want to print during execution of for loop and you want to just append the result to a separate list then you can try these things like code below
squared_numbers=[]
for number in list_of_numbers2:
    squared_numbers.append(number**2)
squared_numbers

[1, 4, 16, 36, 121, 196, 289, 400]

In [26]:
zipped_dict=dict(zip(list_of_numbers2,squared_numbers))
zipped_dict

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [28]:
for number in list_of_numbers2:
    if number %2 ==0:
        squared_number=number**2
        print(f'the even number {number} has its squared number as {squared_number}')
    else:
        squared_number=number**2
        print(f'the odd number {number} has its squared number as {squared_number} my master prohibits me from using odd numbers for squares but its okay')

the odd number 1 has its squared number as 1 my master prohibits me from using odd numbers for squares but its okay
the even number 2 has its squared number as 4
the even number 4 has its squared number as 16
the even number 6 has its squared number as 36
the odd number 11 has its squared number as 121 my master prohibits me from using odd numbers for squares but its okay
the even number 14 has its squared number as 196
the odd number 17 has its squared number as 289 my master prohibits me from using odd numbers for squares but its okay
the even number 20 has its squared number as 400

In [29]:
# Range function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(10,1,-1))
# Range to get numbers in reverse direction

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [35]:
list(range(100,0,-5))
# getting list in reverse from 100 to 0 in reverse in 5 step jumps

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]

In [42]:
import string
list(enumerate(string.ascii_lowercase))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z')]

In [44]:
for number in range(0,10,2):
    squared_number=number**2
    print(f'The number {number} has a squared number {squared_number}')

The number 0 has a squared number 0
The number 2 has a squared number 4
The number 4 has a squared number 16
The number 6 has a squared number 36
The number 8 has a squared number 64

In [46]:
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [47]:
print(list_of_numbers2)

[1, 2, 4, 6, 11, 14, 17, 20]

In [52]:
# Calculate the sum of the squares
sum=0
for i in list_of_numbers2:
    sum+=i**2
    print(f'the sums of squares update {sum}')
print(f'the final squares are {sum}')
# Do the same for the range from 0 to 11
sum=0
for i in range(1,11):
    sum+=i
    print(f'the square sum update is {sum}')
print(f'the sum of squares are {sum}')

the sums of squares update 1
the sums of squares update 5
the sums of squares update 21
the sums of squares update 57
the sums of squares update 178
the sums of squares update 374
the sums of squares update 663
the sums of squares update 1063
the final squares are 1063
the square sum update is 1
the square sum update is 3
the square sum update is 6
the square sum update is 10
the square sum update is 15
the square sum update is 21
the square sum update is 28
the square sum update is 36
the square sum update is 45
the square sum update is 55
the sum of squares are 55

# Now lets try doing iteration to all the objects in python

In [2]:
# First lets start with the string
string1="Iam the one who knocks"

In [5]:
for letter in string1:
    print(letter,end='')
#  the print is given without going to next line

Iam the one who knocks

In [6]:
string1="Iam the one who knocks and my name is milan and am gonna enter the almaz placement very soon"

In [7]:
for word in string1.split():
    print(word)
#  using the split method uses

Iam
the
one
who
knocks
and
my
name
is
milan
and
am
gonna
enter
the
almaz
placement
very
soon

In [8]:
# Now doing iteration with tuples
days=("monday","tuesday","wednesday","thursday",'friday','saturday',"sunday")
for day in days:
    print(day)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [9]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

for country,city,river in country_city_river_list:
    print(country,river,city)

India Ganga New Delhi
Australia Rovers Canberra
United States Missouri Washington DC
England Thames London

In [10]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

for country in country_city_river_list:
    print(country)

('India', 'New Delhi', 'Ganga')
('Australia', 'Canberra', 'Rovers')
('United States', 'Washington DC', 'Missouri')
('England', 'London', 'Thames')

In [11]:
country_city={'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [12]:
for item in country_city:
    print(item)

India
Australia
United States
England

In [67]:
country_city.items()

dict_items([('India', 'New Delhi'), ('Australia', 'Canberra'), ('United States', 'Washington DC'), ('England', 'London')])

In [70]:
for country,city in country_city.items():
    print(country,city)

India New Delhi
Australia Canberra
United States Washington DC
England London

In [73]:
for i in {1,2,3}:
    print(i)

1
2
3

# While loops

In [74]:
x=0
while x < 10:
    print(" X is currently",x)
    print("X is still less than 10")
    x+=1

 X is currently 0
X is still less than 10
 X is currently 1
X is still less than 10
 X is currently 2
X is still less than 10
 X is currently 3
X is still less than 10
 X is currently 4
X is still less than 10
 X is currently 5
X is still less than 10
 X is currently 6
X is still less than 10
 X is currently 7
X is still less than 10
 X is currently 8
X is still less than 10
 X is currently 9
X is still less than 10

In [84]:
#  Break continue pass
x=0

while x <10:
    print("x is currently ",x)
    print("x is still less than 10, adding 1 to it ")
    x+=1
    if x==3:
        print("X == 3")
        break
    else:
        print("continueing")
        continue

x is currently  0
x is still less than 10, adding 1 to it
x is currently  1
x is still less than 10, adding 1 to it
x is currently  2
x is still less than 10, adding 1 to it
X == 3

In [89]:
#  Break continue pass
x=0

while x <10:
    print("x is currently ",x)
    print("x is still less than 10, adding 1 to it ")
    x+=1
    if x==3:
        print("X == 3")
        continue
        print("HRRYYY")
    if True:
        pass
        print("end of while")  
else:
    print("continuiing")

x is currently  0
x is still less than 10, adding 1 to it
end of while
x is currently  1
x is still less than 10, adding 1 to it
end of while
x is currently  2
x is still less than 10, adding 1 to it
X == 3
x is currently  3
x is still less than 10, adding 1 to it
end of while
x is currently  4
x is still less than 10, adding 1 to it
end of while
x is currently  5
x is still less than 10, adding 1 to it
end of while
x is currently  6
x is still less than 10, adding 1 to it
end of while
x is currently  7
x is still less than 10, adding 1 to it
end of while
x is currently  8
x is still less than 10, adding 1 to it
end of while
x is currently  9
x is still less than 10, adding 1 to it
end of while
continuiing

In [82]:
#  WE use pass because if we dont want to write any code in any statements at that time if we dont write code we get error from loop or conditon statement so in this condition we use pass keyword

# LOOPS AND ITERATIONS CONCLUSIONS
A.	FOR LOOP
1.	For loop iterating list
2.	For loop using enumerate and getting index and element from the list, In this you get the list of tuple containing the key value pair
3.	Having a list of number and print its square in output using for loop
4.	Creating an empty list and then appending it in each iteration of for loop and finally printing the list 
5.	For loop with condition printing even and squares and odd and its squares separately
6.	Range function simple example
7.	Reverse example in range
8.	Range function using steps (jump) both in forward and reverse direction
9.	Using for loop to calculate the sum of the number in the list and also the squares
10.	Taking a string and iterating the letters in string and printing using for loop
11.	Taking a word in sentence and iterating through the words in sentence using for loop
12.	Taking a tuple of days in a week and printing the day using for loop
13.	Taking the list which contains a tuple consisting of country capital and rivers and printing the country city and rivers in for loop by unpacking them
14.	Having a list of country and its capital as keys and values respectively and using the methods dict.items() for iterating using for loop

B.	WHILE LOOP
1.	Simple while loop taking x as 0 and incrementing in each iteration of while loop while loop runs until the statement x< 10 gets false
2.	Simple while loop taking the statement till x<10 but breaking the loop in while statement using if condition where x==3 then break this BREAK keyword stop the while loop iteration it also works for FOR loop
3.	Else statement can also be used with the while loop if break is used then while loop cancels and also the else part gets cancelled and doesn’t execute
4.	Continue makes us to skip the iteration and make us move to the next iteration

# List Comprehension
1. List comprehensions are the tool  for transforming one list (any iterable object) into another list
2. During this transformation we can apply conditions also and filter the list and store in another list 
3. List comprehension in python are great but they are little tricky they don’t solve a new problem they just solve a new problem 
4. Every list comprehension can be re-written as for loop but not all the for loops can be re-written as list comprehension

In [3]:
list_of_numbers=[1,2,4,6,11,14,17,20]

In [100]:
squared_number=[]
#  first write the for loop to store the squared numbers in list squared number
for n in list_of_numbers:
    squared_number.append(n**2)

print(squared_number)

[1, 4, 16, 36, 121, 196, 289, 400]

In [101]:
# Wrting the above operations using list comprehension
squared_number1=[x**2 for x in list_of_numbers]
squared_number1

[1, 4, 16, 36, 121, 196, 289, 400]

In [102]:
# Now we will try something with using conditions
# get the squares of the numbers which are even
even_squared_number=[x**2 for x in list_of_numbers if x %2 ==0]
print(list_of_numbers)
print(even_squared_number)

[1, 2, 4, 6, 11, 14, 17, 20]
[4, 16, 36, 196, 400]

In [105]:
# Writing the code for storing odd number  squares
odd_squared_numbers=[x**2 for x in list_of_numbers if x % 2 !=0]
print(list_of_numbers)
print(odd_squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]
[1, 121, 289]

In [110]:
# writing code for to save squares of even and cube of odds
# sqaures_and_cubes=[x**2 for x in list_of_numbers if x % 2 ==0 if x % 2 !=0 else  x=x**2]
#  ABove one is the wrong way of writing the list comprehension you need to write the if and else before for instead of after for

sqaures_and_cubes=[x**2 if x % 2 ==0 else x **3 for x in list_of_numbers]
print(list_of_numbers)
sqaures_and_cubes

[1, 2, 4, 6, 11, 14, 17, 20]

[1, 4, 16, 36, 1331, 196, 4913, 400]

In [115]:
# Attempt to write the only if condition in list comprehension
li1=[x**2 if x %2  == 0 else   x**3 for x in list_of_numbers ]
li1

[1, 4, 16, 36, 1331, 196, 4913, 400]

In [117]:
# Nested for loop
l1=[]
for x in range(4):
    for y in range(3):
        l1.append(x)
print(l1)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [15]:
# This is how the nested for loop in list comprehension looks
l2=[(x,y) for x in range(4) for y in range(3)]
l2

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2)]

In [18]:
# It is a two dimensional lists that is it is list of lists
l3=[[(y,x) for x in range(1,3)] for y in range(1,5)]
l3

[[(1, 1), (1, 2)], [(2, 1), (2, 2)], [(3, 1), (3, 2)], [(4, 1), (4, 2)]]

In [126]:
# Well this is the three dimensional lists i.e its called list of list of lists
l4=[[[x*y*z for z in range(1,5)] for y in range (1,5)] for x in range(1,5)]
l4

[[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12], [4, 8, 12, 16]],
 [[2, 4, 6, 8], [4, 8, 12, 16], [6, 12, 18, 24], [8, 16, 24, 32]],
 [[3, 6, 9, 12], [6, 12, 18, 24], [9, 18, 27, 36], [12, 24, 36, 48]],
 [[4, 8, 12, 16], [8, 16, 24, 32], [12, 24, 36, 48], [16, 32, 48, 64]]]

# List comprehension for String version

In [127]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [130]:
words_in_sentence=heisenberg_quote.split(".")
words_in_sentence

['It ceases to exist without me',
 " No, you clearly don't know who you're talking to, so let me clue you in",
 ' I am not in danger, Skyler',
 ' I am the danger',
 '']

In [135]:
words_in_sentence=heisenberg_quote.split(" ")
words_in_sentence

['It',
 'ceases',
 'to',
 'exist',
 'without',
 'me.',
 'No,',
 'you',
 'clearly',
 "don't",
 'know',
 'who',
 "you're",
 'talking',
 'to,',
 'so',
 'let',
 'me',
 'clue',
 'you',
 'in.',
 'I',
 'am',
 'not',
 'in',
 'danger,',
 'Skyler.',
 'I',
 'am',
 'the',
 'danger.']

In [136]:
# Storing the first letter from the first word
first_letter_list=[]
for i in words_in_sentence:
    first_letter_list.append(i[0])
first_letter_list
#  Well the above operation can be performed using list comprehension

['I',
 'c',
 't',
 'e',
 'w',
 'm',
 'N',
 'y',
 'c',
 'd',
 'k',
 'w',
 'y',
 't',
 't',
 's',
 'l',
 'm',
 'c',
 'y',
 'i',
 'I',
 'a',
 'n',
 'i',
 'd',
 'S',
 'I',
 'a',
 't',
 'd']

In [142]:
first_letterss=[x[0] for x in words_in_sentence]
first_letterss
print(first_letter_list , first_letterss)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd'] ['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [144]:
my_string = 'Alphabet Inc.'
list_of_characters=[x  for x in my_string]
list_of_characters

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

# List comprehension for tuples

In [145]:
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

In [147]:
for day in days: print (day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [151]:
x=tuple(day for day in days)
x

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [153]:
# Storing days without day
without_day=tuple(x[:-3] for x in days)
without_day

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

# Set Comprehension

In [154]:
words_in_sentence

['It',
 'ceases',
 'to',
 'exist',
 'without',
 'me.',
 'No,',
 'you',
 'clearly',
 "don't",
 'know',
 'who',
 "you're",
 'talking',
 'to,',
 'so',
 'let',
 'me',
 'clue',
 'you',
 'in.',
 'I',
 'am',
 'not',
 'in',
 'danger,',
 'Skyler.',
 'I',
 'am',
 'the',
 'danger.']

In [155]:
# first words unique letters
set_first_letter=set()
for word in words_in_sentence:
    set_first_letter.add(word[0])
set_first_letter

{'I',
 'N',
 'S',
 'a',
 'c',
 'd',
 'e',
 'i',
 'k',
 'l',
 'm',
 'n',
 's',
 't',
 'w',
 'y'}

In [156]:
# Same as above using set comprehension
set_first_letter1={x[0] for x in words_in_sentence}
set_first_letter1

{'I',
 'N',
 'S',
 'a',
 'c',
 'd',
 'e',
 'i',
 'k',
 'l',
 'm',
 'n',
 's',
 't',
 'w',
 'y'}

# List Comprehension

In [1]:
country_city_list = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [170]:
country_city_dict=dict(country_city_list)
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [171]:
# Now lets try swaping keys and variables of dict
flipped={}
for country,city in country_city_dict.items():
    flipped[city]=country
flipped

{'New Delhi': 'India',
 'Canberra': 'Australia',
 'Washington DC': 'United States',
 'London': 'England'}

In [172]:
# How to swapp the keys and lists using list comprehension
flipped2=dict([(city,country) for country,city in country_city_dict.items()])
flipped2

{'New Delhi': 'India',
 'Canberra': 'Australia',
 'Washington DC': 'United States',
 'London': 'England'}

In [173]:
# Lets add some conditionals for dict comprehension
flipped3={city:country for city,country, in country_city_dict.items() if city[0] not in ["U","E"]}
flipped3

{'India': 'New Delhi', 'Australia': 'Canberra'}

In [174]:
# Lets add only first three letters from dict and create a new dict and also swao
flipped4={city[:3]:country[:3] for city,country in country_city_dict.items()}
flipped4

{'Ind': 'New', 'Aus': 'Can', 'Uni': 'Was', 'Eng': 'Lon'}

In [175]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [179]:
x = ['ab', 'cd']
for i in x:
#     x.append(i.upper())
    print(i)
# print(x)

ab
cd

In [180]:
print(2)

2

In [10]:
list(map(lambda x :x**2 ,range(5)))

[0, 1, 4, 9, 16]

In [24]:
#  Lambda function
x=lambda x : x **2 if(x%2==0) else x**3

In [26]:
x(5)

125

In [27]:
y= lambda a,b:a**b;

In [28]:
y(3,3)

27

# Functions and method
Functions will be the one of our building blocks when we construct larger and larger amount of code to solve problems

What is a function?

1. Formally a function is a useful device that groups together a set of statements so that they can run more than once,
2. They also can let us specify the parameters that serve as input to the functions
3. On a more fundamental the function allows us not to write not repeated codes 
4. Function is the most basic level of using the code in python
# <code>def</code> Statements

In [16]:
#  Lets see how to build functions
def example_functions():
    print("Hey This is Milan")
example_functions()

Hey This is Milan

In [18]:
def function1(arg1,arg2):
    print(f'{arg1} is from the place {arg2}')

function1("Milan","Bangalore")

Milan is from the place Bangalore

We begin with the name of the function len() which is used to give the length of the elements in variables

In [19]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [20]:
first_letters=[word[0] for word in heisenberg_quote.split()]
first_letters

['I',
 'c',
 't',
 'e',
 'w',
 'm',
 'N',
 'y',
 'c',
 'd',
 'k',
 'w',
 'y',
 't',
 't',
 's',
 'l',
 'm',
 'c',
 'y',
 'i',
 'I',
 'a',
 'n',
 'i',
 'd',
 'S',
 'I',
 'a',
 't',
 'd']

In [21]:
def segregate_first_letters(sentence):
    first_letters=[word[0] for word in sentence.split()]
    return first_letters
# The function returning the values

In [24]:
list_of_first_letters=segregate_first_letters("Hey This is Milan")

In [25]:
print(list_of_first_letters)

['H', 'T', 'i', 'M']

In [48]:
# Writing a function for presenting the factorial of a number with conditions handling the zero and negative number
def factorial(number):
    if number < 0:
        print("negative number not allowed")
    elif number > 0:
        result=1
        for i in range(1,number+1):
            result*=i
        print(f'The factorial number for {number} is {result}')
        return result
    else :
        print("the factorial for 0 is 1")
        return 1

In [49]:
factorial(0)

the factorial for 0 is 1

1

In [50]:
factorial(4)

The factorial number for 4 is 24

24

In [51]:
list_of_numbers = [3, 5, 8, 12, 4, 6]
fact_list=[factorial(x) for x in list_of_numbers]
fact_list

The factorial number for 3 is 6
The factorial number for 5 is 120
The factorial number for 8 is 40320
The factorial number for 12 is 479001600
The factorial number for 4 is 24
The factorial number for 6 is 720

[6, 120, 40320, 479001600, 24, 720]

In [53]:
fact_list_odd=[factorial(x) for x in list_of_numbers if x %2 !=0]
fact_list_odd

The factorial number for 3 is 6
The factorial number for 5 is 120

[6, 120]

In [57]:
# Writing the function to decide the quarter of the date
def assignQuarter(date):
    quarter=""
    date_info=date.split("-")
    year=date_info[0]
    month=date_info[1]
    if ("03" >= month >= "01"  ):
        quarter=year+"-Q1"
    elif "06" >= month >="04":
        quarter=year+"-Q2"
    elif "09" >= month >= "07":
        quarter=year+"-Q3"
    else:
        quarter=year+"-Q4"
    print(f"The corresponding quarter for the date {date} is {quarter}")

In [58]:
assignQuarter("2021-05-23")

The corresponding quarter for the date 2021-05-23 is 2021-Q2

In [61]:
#  Write a function to decide the given number is odd or even
def check_odd_or_even(n):
    if n%2==0:
        return "even"
    elif n%2!=0:
        return "odd"
    else: return

In [65]:
check_odd_or_even(10)

'even'

In [1]:
heights =  [172,175,170,168,170,200]

In [2]:
def print_mean_median(list_of_numbers):
    mean=0
    medain=0
    mean=sum(list_of_numbers)/len(list_of_numbers)
    print(len(list_of_numbers)/2)
    list_of_sorted_no=sorted(list_of_numbers)
#     print(list_of_numbers[int(len(list_of_numbers)/2)])
#     print(list_of_numbers[int((len(list_of_numbers)/2)-1)])
    if len(list_of_numbers) % 2 ==0:
        median=((list_of_sorted_no[int((len(list_of_numbers)/2)-1)]) + (list_of_sorted_no[int(len(list_of_numbers)/2)]))/2
    else:
        median=(list_of_sorted_no[(len(list_of_numbers)+1)/2])
    return median,mean

In [3]:
print_mean_median(heights)

3.0

(171.0, 175.83333333333334)

In [4]:
mean_height,median_height=print_mean_median(heights)

3.0

In [5]:
print(mean_height, median_height)

171.0 175.83333333333334

In [6]:
# Now lets write a function that takes the list and adds elements to the list
def add_element_to_list(lisst,ele):
    new_list=lisst+[ele]
    return new_list

In [7]:
add_element_to_list(heights,[101,45])

[172, 175, 170, 168, 170, 200, [101, 45]]

# Lets find out the difference between the function and methods

1. Functions and methods look same as the perform operation in a same way for examples functions are independent so calling a function does not require any other elements help whereas a method can only be create under a class and it can be called using the reference of the Object or class created that means the methods are dependent on the class created where methods are present

In [8]:
def insert_element_to_index(lisst,iindex,element):
    first_part=lisst[:iindex]
    first_part.append(element)
    first_part.extend(lisst[iindex:])
    return first_part

In [9]:
insert_element_to_index([1,2,3,4,5,7,4,1,2,6,5],3,10)

[1, 2, 3, 10, 4, 5, 7, 4, 1, 2, 6, 5]

In [13]:
heights.insert(3,5)

In [14]:
heights

[172, 175, 170, 5, 168, 170, 200, 5]

# Scope
Now that we gone over writing our own function its important to understand that how python deals with the variables you assign When you create a variable in python the name is stored in name space, Variables names also have scope, The scope defines the visibility of the variable in the other parts of code

In [15]:
def experiment():
    global x
    x=50;
    return x

In [16]:
x=25

In [17]:
experiment()

50

In [20]:
def experiment():
    y=50;
    return y

y

NameError: name 'y' is not defined

In [19]:
if True:
    u=5
    print(u)
print(u)

5
5

In [22]:
def write_func_to_check_docString():
    '''This is the function wto check doc string'''
    return True
write_func_to_check_docString()

True

Problem 1

Write a function which takes the excel column name as an input and returns the corresponding column number. A few examples are :
1. column name = 'J' , column number = 10
2. column name = 'AP' , column number = 42
3. column name = 'AAA', column number = 703

In [29]:
import string
print(string.ascii_lowercase)
alphalist=[(i+1,x) for i,x in enumerate(string.ascii_lowercase)]
alphalist

abcdefghijklmnopqrstuvwxyz

[(1, 'a'),
 (2, 'b'),
 (3, 'c'),
 (4, 'd'),
 (5, 'e'),
 (6, 'f'),
 (7, 'g'),
 (8, 'h'),
 (9, 'i'),
 (10, 'j'),
 (11, 'k'),
 (12, 'l'),
 (13, 'm'),
 (14, 'n'),
 (15, 'o'),
 (16, 'p'),
 (17, 'q'),
 (18, 'r'),
 (19, 's'),
 (20, 't'),
 (21, 'u'),
 (22, 'v'),
 (23, 'w'),
 (24, 'x'),
 (25, 'y'),
 (26, 'z')]

In [32]:
st="milan"
list(enumerate("milan"))

[(0, 'm'), (1, 'i'), (2, 'l'), (3, 'a'), (4, 'n')]

In [33]:
st.lower()

'milan'

In [42]:
def fa(a,**b):
    print(type(b))
    print(type(a))  
    print(b)
fa("letters",A=1,B=2,C=5)

<class 'dict'>
<class 'str'>
{'A': 1, 'B': 2, 'C': 5}

In [51]:
def faa(a,b,*k):
    print(type(k))
    print(k)
faa(9,1,2,3,4)

<class 'tuple'>
(2, 3, 4)

In [59]:
class Computer:
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
    def config(self):
        print("Hey am printing things")
    def config4(self,nu):
        print(nu,"Am a disco dancer")

com1=Computer("i5",16)
com2=Computer("i9",32)
com1.config()
com2.config4(5)

Hey am printing things
5 Am a disco dancer

In [67]:
# SO now we will think about a car concept that is (CAR) Object that has been manufactured and came out of factory (class)
class Car:
    wheels=4
    def __init__(self):
        self.mil=10
        self.com="BMW"

c1=Car();
c2=Car();
print(c1.mil)
print(c2.mil)
c2.mil=15
print(c2.mil)
c1.wheels=10
c2.wheels

10
10
15

4

In [81]:

class Student:
    school="Telusko"
    location="Bangalore"
    
    def __init__ (self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
    
    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    def get_m1(self):
        return self.m1
        
    def get_m2(self):
        return self.m2
    
    def get_m3(self):
        return self.m3
#     The method below is called class method
    @classmethod
    def info(cls):
        return cls.school
# Static method 
    @staticmethod
    def location():
        print("This method is a static Method")
s1=Student(93,95,96)
s2=Student(90,89,95)

print(s1.avg())
s2.avg()
print(Student.info())
print(Student.location())

#  If we want to fetch the values we use accessor method and if we want to modify the methods then we use mutators method
#  That are something like setters and getters setters set the values that is it changes the values of attributes of the object and getters are called as accessors methods that are used for accessing the values
#  These setters and getters are called Instance methods

94.66666666666667
Telusko
This method is a static Method
None

In [11]:
# Class inside a class
class Students:
    
    def __init__ (self,name,rollno):
        self.name=name
        self.rollno=rollno
        self.lap=self.Laptop()
    def show(self):
        print(self.rollno,self.name)
       
    class Laptop:
        def __init__(self):
            self.brand="HP"
            self.ram="8"
        def show(self):
            print(self.brand,self.ram)

s1=Students("Navin","002")
s2=Students("Milan","007")
s1.show()
s2.show()
s2.lap.show()
s2.Laptop().show()

002 Navin
007 Milan
HP 8
HP 8

In [26]:
# Inheritance
class A:
    def feature1(self):
        print("feature 1 is working")
    def feature2(self):
        print("feature 2 is working")
# By wrting the below line i.e B(A) B is inhertant on the features from A 
class B(A):
    def feature3(self):
        print("feature 3 is working")
    def feature4(self):
        print("feature 4 is working")
# Just because B is inheriting the A it can access A class's features and if C is inheriting B then c can access B class features and as B had access to A's class features
class C(B):
    
    def feature5(self):
        print("feature 5 is working")
        
a1=A()
a1.feature1()
a1.feature2()

b1=B();
b1.feature3()
b1.feature1()

c1=C()
c1.feature3()
# Here A is grand parent i.e parent of B and B is parent of C So children can have access to there parents and above But parents cant have access to there younger ones

feature 1 is working
feature 2 is working
feature 3 is working
feature 1 is working
feature 3 is working

In [29]:
# Inheritance
class A:
    def feature1(self):
        print("feature 1 is working")
    def feature2(self):
        print("feature 2 is working")
class B:
    def feature3(self):
        print("feature 3 is working")
    def feature4(self):
        print("feature 4 is working")

class C(B,A):
    
    def feature5(self):
        print("feature 5 is working")
        
a1=A()
a1.feature1()
a1.feature2()


c1=C()
c1.feature3()
c1.feature1()

# Multiple and multilevel inheritance is allowed in python

feature 1 is working
feature 2 is working
feature 3 is working
feature 1 is working

In [36]:
# Analysing the constructor behavoir during inheritance
class A:
    def __init__(self):
        print("THis is from A")
    def feature1(self):
        print("feature 1 is working")
    def feature2(self):
        print("feature 2 is working")
class B(A):
    def __init__(self):
        super().__init__() # This calls the init method from A class 
        print("THis is from B")
    def feature3(self):
        print("feature 3 is working")
    def feature4(self):
        print("feature 4 is working")
class C(A,B)
        
a=B();

THis is from A
THis is from B

In [59]:
# Analysing the constructor behavoir during inheritance
class A:
    def __init__(self):
        print("THis is from A")
#         super().__init__()
    def feature1(self):
        print("feature 1 is working")
    def feature2(self):
        print("feature 2 is working")
class B:
    def __init__(self):
#         super().__init__() # This calls the init method from A class 
        print("THis is from B")
    def feature3(self):
        print("feature 3 is working")
    def feature4(self):
        print("feature 4 is working")
        
class D:
    def __init__(self):
        super().__init__() # This calls the init method from A class 
        print("THis is from D")
    def feature3(self):
        print("feature 3 is working")
    def feature4(self):
        print("feature 4 is working")
        
class C(D,A,B):
    def __init__(self):
        super().__init__()
        print("This is from C")

c=C();
# This concept is called method resolution order

THis is from A
THis is from D
This is from C

# Poly=morphism

There are 4 types of polymorphism 
1. Duck typing
2. Operator Overloading
3. Method overloading
4. Method overriding

In [67]:
# Duck typing 
class Pycharm():
    def execute(self):
        print("Complliing")
        print("Executing")

class MyIDE:
    def execute(self):
        print("Spell check")
        print("Interpret")
        print("Complliing")
        print("Executing")
        
        
class Laptop():
    def code(self,ide):
        ide.execute()
l1=Laptop();
p1=Pycharm()
m1=MyIDE()
l1.code(p1)
print("*********************")
l1.code(m1)
# Here the duck typing is something that it does not need to be the same class But it can be the any class any same feature i.e the method name

Complliing
Executing
*********************
Spell check
Interpret
Complliing
Executing

In [68]:
# Operator Overloading

In [84]:
# Method Overloading

class A:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def sum(self,a,b):
        return a+b
    def feature1(self):
        print("From A")
        
class B(A):
    def feature1(self):
        print("From B")
s1=A(4,6);
s1.sum(5,6)
b1=B(5,6)
b1.feature1()

From B

 # What is production environment ?
 
     Production environment is a term used mostly by developers to describe the settings where software and other products actually put into operations for intended uses by their end users
     
     Concepts that will be helpful while writing a production grade code:-
 1. Object Oriented Programming
 2. Handling errors and exceptions
 
 # 1. Object Oriented programming
 
 OOPS tends to be the one of the most interesting concepts in python
 For this lesson we will construct our knowledge of OOPS by building code on following topics:
 1. Objects
 2. class key word
 3. creating class attribute
 4. Creating methods in class
 5. Poly morphism

In [85]:
empty_list=[]

In [87]:
empty_list

[]

In [88]:
another_empty_list=list()

In [89]:
another_empty_list

[]

float

# class 
User defined objects are using the class keyword the class is the blue print that defines the nature of the future object
From classes we construct instances instances are specific objects created by particular class

In [92]:
# Create a new object type called FirstClass
class FirstClass:
    pass

In [93]:
# Instance of FirstClass
x = FirstClass()
print(type(x))

<class '__main__.FirstClass'>

In [94]:
y = FirstClass()
print(type(y))

<class '__main__.FirstClass'>

In [109]:
class Dog:
    def __init__(self,name,breed,cost=0):
        self.name=name
        self.breed=breed
        self.cost=cost
# The above 3 lines is assigning the arguments from object and saving it into objects attribute

d1=Dog("Rocky","Beedi nayi")
d2=Dog("Vicky","RotWh",50000)
print(d1.breed,d1.name,d1.cost)
print(d2.breed,d2.name,d2.cost)

Beedi nayi Rocky 0
RotWh Vicky 50000

In [99]:
d=Dog()
type(d)

__main__.Dog

In [118]:
class Circle:
    def __init__(self,radius=1):
        self.radius=radius
        self.area=3.147*radius * radius
    def set_radius(self,radius):
        self.radius=radius
        self.area=3.147*radius * radius
    def get_circumference(self):
        return 2 * 3.147 * self.radius


    
c1=Circle()
c1.get_circumference()
c1.set_radius(5)
print(c1.area,c1.get_circumference())

78.675 31.47

# Poly morphism
We have learned that function can take different arguments, methods belong to the objects they act on ,In Python, polymorphism refers different object classes can share the same method name and those methods can be called from same place even though variety of objects might be passed

In [119]:
class HouseStark:
    def __init__(self,sigil):
        self.sigil=sigil
    def motto(self):
         return "House Stark with sigil " + self.sigil + " has the motto 'Winter is coming'"

In [120]:
class HouseLannister:
    def __init__(self, sigil):
        self.sigil = sigil

    def motto(self):
        return "House Lannister with sigil " + self.sigil + " has the motto 'Hear me roar'"

In [121]:
arya=HouseStark("direwolf")
tyrion=HouseStark("golden lion")

In [123]:
arya.motto()

"House Stark with sigil direwolf has the motto 'Winter is coming'"

In [124]:
tyrion.motto()

"House Stark with sigil golden lion has the motto 'Winter is coming'"

In [125]:
for warrior in [arya,tyrion]:
    print(warrior.motto())

House Stark with sigil direwolf has the motto 'Winter is coming'
House Stark with sigil golden lion has the motto 'Winter is coming'

In [126]:
def get_motto(warrior):
    print(warrior.motto())
    
get_motto(arya)
get_motto(tyrion)

House Stark with sigil direwolf has the motto 'Winter is coming'
House Stark with sigil golden lion has the motto 'Winter is coming'

# Errors and exception handling

3 types of error
 1. Compile time error 
 2. RUn time error
 3. logical error
 
 Compile time error is error that occurs during complilation
 example syntax error
 
 LOgical error

Now we will see about Errors and exceptions

In [137]:
try:
    print("Good to go")
    print("ddsd",ssss)
    print("b")
except Exception as e:
    print("Oops",e)
    print("C")
else:
    print("No errors encountered")

Good to go
Oops name 'ssss' is not defined
C

In [147]:
try:
    a=4
    b=5
    c=a/b
    print(c)
except Exception as e:
    print("Hey you cant divide zero")
    print(e)
else:
    print("The execution was sucessful")
finally:
    print("Dont worry i will handle this")

0.8
The execution was sucessful
Dont worry i will handle this

# Real world use case
Uber's simplified pricing model
When you request an Uber, you enter the pick up location 
# This is development code below

In [8]:
from geopy.distance import geodesic
def get_distance(location1,location2):
    distance=geodesic(location1,location2).km
    return distance

In [13]:
def get_pricing_per_km(time):
    if(time>8 ) and (time< 11):
        price_per_km=20
    elif(time>18 ) and (time< 21):
        price_per_km=15
    else:
        price_per_km=10
    return price_per_km

In [26]:
def get_final_price(pickup,drop,time):
    total_distance=get_distance(pickup,drop)
    get_price=get_pricing_per_km(time)
    final_price=round(total_distance * get_price,2)
    return "Rupees "+str(final_price)

In [27]:

pick_up_location = (24, 70)
drop_location = (24.1, 70.1)
booking_time = 19

In [28]:

get_final_price(pick_up_location, drop_location, booking_time)

'Rupees 225.56'

# This is Production grade code

Create an Object called map and Price charger and another class Called Uber

In [56]:
from geopy.distance import geodesic
class Map:
    def __init__(self,drop_location,pick_up_location):
        self.drop_location=drop_location
        self.pick_up_location=pick_up_location
    def calculate_distance(self):
        return geodesic(self.drop_location,self.pick_up_location)
    
class PriceCharger:
    def __init__(self,time):
        self.time=time
    def get_price(self):
        if self.time>8 and self.time < 11:
            return 30
        elif self.time > 18 and self.time < 21:
            return 20
        else:
            return 10
        
class Uber:
    def __init__(self,pick_up_location,drop_location,time):
        self.price_charger=PriceCharger(time)
        self.map=Map(pick_up_location,drop_location)
        return self.get_final_price();
    
    def get_final_price(self):
        distance=str(self.map.calculate_distance()).replace("km","")
        print(self.price_charger.get_price())
        print(self.map.calculate_distance() * self.price_charger.get_price())
        return round(float(distance),2) * self.price_charger.get_price()
    
        
pick_up_location = (24, 70)
drop_location = (24.1, 70.1)
booking_time = 19

Uber(pick_up_location, drop_location, booking_time)

20
300.75209480706 km

TypeError: __init__() should return None, not 'float'

In [1]:
def repeatedString(s, n):
    # Write your code here
    count=0
    print((s*n))
    # for i in (s*n)[:n]:
    #     if(i=="a"):
    #         count+=1
    return ((s*n)[:n]).count('a')

In [3]:
repeatedString("a",1000)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

1000

# Compitative Problems

In [4]:
"1".isdigit()

True

In [6]:
# Your code here
import gc
def Primorial(no):
  prime_no_count=0
  result=1
  n=2
  cc=1
  while no > prime_no_count and cc <10:
    count=0
    for x in range(1,n+1):
      if(n % x==0):
        count+=1
    if(count==2):
      result*=n
      prime_no_count+=1
    n+=1
    cc+=1
    gc.collect()

  return result
Primorial(6)

210

In [1]:
def foo():
    try:
        print(1)
    finally:
        print(2)
foo()

1
2