# Loops and iteration

In python we have only two loops statements they are :
1.	for loop
2.	while loop
Note : Switch statement is not there in python unlike java and C langauges

# For Loops
For loops acts as iterator in python  the for loop in python is used to iterate through an iterable objects like
List,tuple,set,etc..
# While Loops
While loops are similar to if statements where as it executes on cycles if the conditions are true

In [1]:
#  for item in object:
#     statements to do stuff

The name item is left to the coder to use appropriate names that will make sense and will be able to understand the code while revisiting the code

In [3]:
# Lets try some simple for loop 
got_houses=["stark","Arryn","Barathon","Tuloy","Grayjoy","Travel","Pokemon","Degomon","Doremon","Indian","National","Security"]

In [7]:
for names in got_houses:
    print(f'names are {names}')

names are stark
names are Arryn
names are Barathon
names are Tuloy
names are Grayjoy
names are Travel
names are Pokemon
names are Degomon
names are Doremon
names are Indian
names are National
names are Security

In [8]:
got_houses

['stark',
 'Arryn',
 'Barathon',
 'Tuloy',
 'Grayjoy',
 'Travel',
 'Pokemon',
 'Degomon',
 'Doremon',
 'Indian',
 'National',
 'Security']

In [11]:
# Another way of for loop
for number,names in enumerate(got_houses):
    print(f'The names are {names} and the number are {number}')
# If you need to make use of index also then you need to use the enumerate function to iterate through the list

The names are stark and the number are 0
The names are Arryn and the number are 1
The names are Barathon and the number are 2
The names are Tuloy and the number are 3
The names are Grayjoy and the number are 4
The names are Travel and the number are 5
The names are Pokemon and the number are 6
The names are Degomon and the number are 7
The names are Doremon and the number are 8
The names are Indian and the number are 9
The names are National and the number are 10
The names are Security and the number are 11

In [12]:
x=1,2

In [13]:
x

(1, 2)

In [14]:
list(enumerate(x))

[(0, 1), (1, 2)]

In [17]:
list(enumerate(got_houses))
# Using enumerate function you can join index to the list and store it in the tuple so that it results in lists of tuples contains key and value pair

[(0, 'stark'),
 (1, 'Arryn'),
 (2, 'Barathon'),
 (3, 'Tuloy'),
 (4, 'Grayjoy'),
 (5, 'Travel'),
 (6, 'Pokemon'),
 (7, 'Degomon'),
 (8, 'Doremon'),
 (9, 'Indian'),
 (10, 'National'),
 (11, 'Security')]

In [18]:
dict(list(enumerate(got_houses)))
# Using the enumerate function you can convert the list of tuples containing the key and value pair into dictionary

{0: 'stark',
 1: 'Arryn',
 2: 'Barathon',
 3: 'Tuloy',
 4: 'Grayjoy',
 5: 'Travel',
 6: 'Pokemon',
 7: 'Degomon',
 8: 'Doremon',
 9: 'Indian',
 10: 'National',
 11: 'Security'}

# Example 2 (for Loop)

In [22]:
list_of_numbers=[1,2,3,4,5,6,7,8,9]
list_of_numbers2=[1,2,4,6,11,14,17,20]

In [23]:
# Printing the square of numbers in list using for loop
for number in list_of_numbers2:
    print(f'the square of number {number} is {number ** 2}')

the square of number 1 is 1
the square of number 2 is 4
the square of number 4 is 16
the square of number 6 is 36
the square of number 11 is 121
the square of number 14 is 196
the square of number 17 is 289
the square of number 20 is 400

In [24]:
#  Suppose you dont want to print during execution of for loop and you want to just append the result to a separate list then you can try these things like code below
squared_numbers=[]
for number in list_of_numbers2:
    squared_numbers.append(number**2)
squared_numbers

[1, 4, 16, 36, 121, 196, 289, 400]

In [26]:
zipped_dict=dict(zip(list_of_numbers2,squared_numbers))
zipped_dict

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

In [28]:
for number in list_of_numbers2:
    if number %2 ==0:
        squared_number=number**2
        print(f'the even number {number} has its squared number as {squared_number}')
    else:
        squared_number=number**2
        print(f'the odd number {number} has its squared number as {squared_number} my master prohibits me from using odd numbers for squares but its okay')

the odd number 1 has its squared number as 1 my master prohibits me from using odd numbers for squares but its okay
the even number 2 has its squared number as 4
the even number 4 has its squared number as 16
the even number 6 has its squared number as 36
the odd number 11 has its squared number as 121 my master prohibits me from using odd numbers for squares but its okay
the even number 14 has its squared number as 196
the odd number 17 has its squared number as 289 my master prohibits me from using odd numbers for squares but its okay
the even number 20 has its squared number as 400

In [29]:
# Range function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(10,1,-1))
# Range to get numbers in reverse direction

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [35]:
list(range(100,0,-5))
# getting list in reverse from 100 to 0 in reverse in 5 step jumps

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]

In [42]:
import string
list(enumerate(string.ascii_lowercase))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z')]

In [44]:
for number in range(0,10,2):
    squared_number=number**2
    print(f'The number {number} has a squared number {squared_number}')

The number 0 has a squared number 0
The number 2 has a squared number 4
The number 4 has a squared number 16
The number 6 has a squared number 36
The number 8 has a squared number 64

In [46]:
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [47]:
print(list_of_numbers2)

[1, 2, 4, 6, 11, 14, 17, 20]

In [52]:
# Calculate the sum of the squares
sum=0
for i in list_of_numbers2:
    sum+=i**2
    print(f'the sums of squares update {sum}')
print(f'the final squares are {sum}')
# Do the same for the range from 0 to 11
sum=0
for i in range(1,11):
    sum+=i
    print(f'the square sum update is {sum}')
print(f'the sum of squares are {sum}')

the sums of squares update 1
the sums of squares update 5
the sums of squares update 21
the sums of squares update 57
the sums of squares update 178
the sums of squares update 374
the sums of squares update 663
the sums of squares update 1063
the final squares are 1063
the square sum update is 1
the square sum update is 3
the square sum update is 6
the square sum update is 10
the square sum update is 15
the square sum update is 21
the square sum update is 28
the square sum update is 36
the square sum update is 45
the square sum update is 55
the sum of squares are 55

# Now lets try doing iteration to all the objects in python

In [53]:
# First lets start with the string
string1="Iam the one who knocks"

In [58]:
for letter in string1:
    print(letter,end='')
#  the print is given without going to next line

Iam the one who knocks

In [59]:
string1="Iam the one who knocks and my name is milan and am gonna enter the almaz placement very soon"

In [60]:
for word in string1.split():
    print(word)
#  using the split method uses

Iam
the
one
who
knocks
and
my
name
is
milan
and
am
gonna
enter
the
almaz
placement
very
soon

In [61]:
# Now doing iteration with tuples
days=("monday","tuesday","wednesday","thursday",'friday','saturday',"sunday")
for day in days:
    print(day)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [62]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

for country,city,river in country_city_river_list:
    print(country,river,city)

India Ganga New Delhi
Australia Rovers Canberra
United States Missouri Washington DC
England Thames London

In [92]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

for country in country_city_river_list:
    print(country)

('India', 'New Delhi', 'Ganga')
('Australia', 'Canberra', 'Rovers')
('United States', 'Washington DC', 'Missouri')
('England', 'London', 'Thames')

In [64]:
country_city={'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [66]:
for item in country_city:
    print(item)

India
Australia
United States
England

In [67]:
country_city.items()

dict_items([('India', 'New Delhi'), ('Australia', 'Canberra'), ('United States', 'Washington DC'), ('England', 'London')])

In [70]:
for country,city in country_city.items():
    print(country,city)

India New Delhi
Australia Canberra
United States Washington DC
England London

In [73]:
for i in {1,2,3}:
    print(i)

1
2
3

# While loops

In [74]:
x=0
while x < 10:
    print(" X is currently",x)
    print("X is still less than 10")
    x+=1

 X is currently 0
X is still less than 10
 X is currently 1
X is still less than 10
 X is currently 2
X is still less than 10
 X is currently 3
X is still less than 10
 X is currently 4
X is still less than 10
 X is currently 5
X is still less than 10
 X is currently 6
X is still less than 10
 X is currently 7
X is still less than 10
 X is currently 8
X is still less than 10
 X is currently 9
X is still less than 10

In [84]:
#  Break continue pass
x=0

while x <10:
    print("x is currently ",x)
    print("x is still less than 10, adding 1 to it ")
    x+=1
    if x==3:
        print("X == 3")
        break
    else:
        print("continueing")
        continue

x is currently  0
x is still less than 10, adding 1 to it
x is currently  1
x is still less than 10, adding 1 to it
x is currently  2
x is still less than 10, adding 1 to it
X == 3

In [89]:
#  Break continue pass
x=0

while x <10:
    print("x is currently ",x)
    print("x is still less than 10, adding 1 to it ")
    x+=1
    if x==3:
        print("X == 3")
        continue
        print("HRRYYY")
    if True:
        pass
        print("end of while")  
else:
    print("continuiing")

x is currently  0
x is still less than 10, adding 1 to it
end of while
x is currently  1
x is still less than 10, adding 1 to it
end of while
x is currently  2
x is still less than 10, adding 1 to it
X == 3
x is currently  3
x is still less than 10, adding 1 to it
end of while
x is currently  4
x is still less than 10, adding 1 to it
end of while
x is currently  5
x is still less than 10, adding 1 to it
end of while
x is currently  6
x is still less than 10, adding 1 to it
end of while
x is currently  7
x is still less than 10, adding 1 to it
end of while
x is currently  8
x is still less than 10, adding 1 to it
end of while
x is currently  9
x is still less than 10, adding 1 to it
end of while
continuiing

In [82]:
#  WE use pass because if we dont want to write any code in any statements at that time if we dont write code we get error from loop or conditon statement so in this condition we use pass keyword

# LOOPS AND ITERATIONS CONCLUSIONS
A.	FOR LOOP
1.	For loop iterating list
2.	For loop using enumerate and getting index and element from the list, In this you get the list of tuple containing the key value pair
3.	Having a list of number and print its square in output using for loop
4.	Creating an empty list and then appending it in each iteration of for loop and finally printing the list 
5.	For loop with condition printing even and squares and odd and its squares separately
6.	Range function simple example
7.	Reverse example in range
8.	Range function using steps (jump) both in forward and reverse direction
9.	Using for loop to calculate the sum of the number in the list and also the squares
10.	Taking a string and iterating the letters in string and printing using for loop
11.	Taking a word in sentence and iterating through the words in sentence using for loop
12.	Taking a tuple of days in a week and printing the day using for loop
13.	Taking the list which contains a tuple consisting of country capital and rivers and printing the country city and rivers in for loop by unpacking them
14.	Having a list of country and its capital as keys and values respectively and using the methods dict.items() for iterating using for loop

B.	WHILE LOOP
1.	Simple while loop taking x as 0 and incrementing in each iteration of while loop while loop runs until the statement x< 10 gets false
2.	Simple while loop taking the statement till x<10 but breaking the loop in while statement using if condition where x==3 then break this BREAK keyword stop the while loop iteration it also works for FOR loop
3.	Else statement can also be used with the while loop if break is used then while loop cancels and also the else part gets cancelled and doesn’t execute
4.	Continue makes us to skip the iteration and make us move to the next iteration