# Identifiers

## A name in python program is called identifiers 
## It can be the name of the class method function or variables or module name

In [1]:
a=10

Rules to define identifiers in Python:

 0-9 a-z A-Z and _ are only allowed in python to use as identifiers

In [3]:
cash=10
cas&g=10 #In this line we get error because we used $ symbol which is not be used as identifiers

SyntaxError: cannot assign to operator (<ipython-input-3-5f78960999c4>, line 2)

Rule 2 we cant use numbers at the starting of the identifier
23name="Milan" this is not allowed because there is a number at starting

In [4]:
s="durga"
s[0]

'd'

In [5]:
s[1]

'u'

In [6]:
s[-1]

'a'

In [8]:
s[40] # your getting error because the index is out of range

IndexError: string index out of range

In [9]:
s[1:40] # how much ever number you give it only prints upto the end

'urga'

In [10]:
s*3

'durgadurgadurga'

In [11]:
c='s'
type(c)
#In python there is nothing like char data type like in java it taken as string

str

In [12]:
#Long data type was available in 2.0 BUt in 3.0 Int is taking care of it

# Type casting

We can convert any other type into any data type
functions used for type casting

int()
float()
str()
complex()
bool()

In [13]:
int(12.34)

12

In [14]:
int(True)

1

In [15]:
int(False)

0

In [16]:
int("10")

10

In [18]:
int("10.5") # You need to enter only Numbers instead of float

ValueError: invalid literal for int() with base 10: '10.5'

In [19]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [20]:
float(10)

10.0

In [22]:
float(10+5j)
#Cant convert complex into float or int

TypeError: can't convert complex to float

In [23]:
float(True)

1.0

In [24]:
float(False)

0.0

# Complex

In [26]:
complex(10)

(10+0j)

In [27]:
complex(10.5)

(10.5+0j)

In [28]:
complex(True)

(1+0j)

In [29]:
complex(False)

0j

In [30]:
complex("10")

(10+0j)

In [31]:
complex("10.5")

(10.5+0j)

In [32]:
complex("ten")

ValueError: complex() arg is a malformed string

In [33]:
complex(10,-2)

(10-2j)

In [35]:
complex(True,False)

(1+0j)

# Boolean

In [36]:
bool(0)

False

In [37]:
bool(1)

True

In [38]:
bool(10)

True

In [39]:
bool(10.5)

True

In [40]:
bool(.015)

True

In [41]:
bool(0.0)

False

In [42]:
bool(4+0j)

True

In [43]:
bool(0+5j)

True

In [44]:
bool("True")

True

In [45]:
bool("False")

True

In [46]:
bool("")

False

# String type casting

In [47]:
str(10)

'10'

In [48]:
str(10.5)

'10.5'

In [50]:
str(10+ 8j)

'(10+8j)'

In [51]:
str(True)

'True'

# Fundamental data types vs Immutability

 All Fundamental Data types are immutable. i.e once we creates an object,we cannot
perform any changes in that object. If we are trying to change then with those changes a
new object will be created. This non-chageable behaviour is called immutability

In [54]:
a=10
b=10
print(id(a))
print(id(b))
# Both have same content so we are accessing that content from same address
a is b

140722163165264
140722163165264

True

In [57]:
a=10+5j
b=10+5j
print(a is b)
print(id(a))
print(id(b))

False
2350411871952
2350411870288

In [59]:
a=True
b=True
print(id(a),id(b),a is b)

140722162882384 140722162882384 True

In [60]:
a="Milan"
b="Milan"
print(id(a),id(b),a is b)

2350404717168 2350404717168 True

# Byte data type

In [63]:
x=[10,20,30,40]
b=bytes(x)
print(type(b))
print(b[0])
print(b[1])
for i in b : print(i)
# the only limit is upto  0 to 256 
# if your taking number more then that you will get a value error

<class 'bytes'>
10
20
10
20
30
40

In [65]:
x=[10,20,30]
b=bytes(x)
b[0]=100
# IN the above line we are trying to change the value of the 0th index
# But byte is mutable so we cant change

TypeError: 'bytes' object does not support item assignment

# BytesArray data type

In [69]:
x=[10,20,30,40]
b=bytearray(x)
for i in b : print(i)
print(type(b))
print(b[0])
b[0]=5
print(b[0])
# Hence there is no differences between byte and byte array
# But only difference is bytesarray is mutable
# Note Only use numbers in range (0 to 256)

10
20
30
40
<class 'bytearray'>
10
5

# List data type
If we want to represent a group of values in a single entity where insertion order is maintained, duplicates growable in nature are allowed then we should go with list data type
1. insertion order is preserved
2. heterogenous data is allowed 
3. duplicates is allowed
4. growable in nature
5. values must be wrapped in between square brackets

In [70]:
l=[100,1,10.5,'durga',True]
print(l)

[100, 1, 10.5, 'durga', True]

In [71]:
l[0]

100

In [72]:
l[-1]

True

In [73]:
for i in l : print(i)

100
1
10.5
durga
True

In [ ]:
li=[10,20,30]
li.append("durga") # attaches an element at the end
print(li)
li.remove(10) # removes the given element
print(li)
print(li*2)
# By this we can conclude the list is ordered mutable,heterogenous,

# Tuple data type
tuple data type is same as list it is ordered, allow duplicates, heterogenous 
but it doesn't allow mutable feature they have made it immutable

In [84]:
t=(10,20,30)
print(type(t))
print(t[0])
# t.append("durga")
# in the above line you can append things inside tuple
# t.remove(10)
# Even the remove feature doesnot work
# Note Tuple is the only the read only version of list

<class 'tuple'>
10

# Range data type
Range data type is just the sequence of numbers
The elements present in range is not modifiable that means range is immutable

In [87]:
for i in range(0,9): print(i,end=" ")

0 1 2 3 4 5 6 7 8

In [89]:
r=range(10,19)
for i in r:print(i,end=" ")

10 11 12 13 14 15 16 17 18

In [91]:
r=range(10,20,2)
for i in r:print(i,end=" ")

10 12 14 16 18

In [95]:
# ANd also we can access the data from range data type using index
r=range(10,20)
print(r[0])
# r[0]=5
#  the above line is commented because the range data type is immutable
# print(r[20])
# THe above line is commented because the range doesn't contain index till 20

10

In [96]:
# We can create list from range
r=range(20,25)
li=list(r)
print(type(li),li)

<class 'list'> [20, 21, 22, 23, 24]

# Set data type
If we want to represent group of values using single entity with maintaining insertion order not allowing duplicates then we need to use set data type

1. insertion order not preserved
2. duplicates not allowed
3. heterogenous data allowed
4. index concept is not there (not slicing also)
5. It is mutable
6. Growable in nature

In [101]:
s={100,10,56,'garuda'}
# s[0]
#  Commenting the above line because indexing in not valid and also slicing
s.add(90)
print(s)
s.remove(100)
print(s)

{100, 10, 56, 90, 'garuda'}
{10, 56, 90, 'garuda'}

# Frozen data